{% set active_link = 'medias' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block artist_edit_profile_content %}

    {% form_theme form ':Form:bootstrap_4_layout.html.twig' ':Form:jquery.collection.html.twig' %}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_rest(form) }}
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">um_collection({add:'<a href="#">Ajouter une vidéo</a>', remove:'<a href="#">Supprimer la vidéo</a>'});</script>
{% endblock %}
