{% set active_link = 'leave' %}

{% extends '@App/User/Artist/edit_profile_layout.html.twig' %}

{% block artist_edit_profile_content %}

    <p>Quitter l'artiste {{ artist.artistname }}</p>
    {{ form(form) }}

{% endblock %}