{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="rounded-title">Erreur</h3>
        <p>Oups... Une erreur inconnue s'est produite durant votre visite. Si le problème persiste, merci de nous contacter !</p>
    </div>
{% endblock %}