{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="rounded-title">Accès interdit</h3>
        <p>Apparemment, vous n'avez pas le droit d'accéder à cette page. Êtes-vous sûr d'être au bon endroit ?</p>
    </div>
{% endblock %}