{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="rounded-title">404</h3>
        <p>Aie, aie, cette page n'existe pas (ou plus). Peut-être que le plus simple pour vous est de retourner sur <a href="{{ path('homepage') }}">la page d'accueil</a> ?</p>
    </div>
{% endblock %}