<div class="notification_preview">
    <h3><a href="{{ path('user_notification', {'id': notification.id}) }}">{% block title %}Notification{% endblock %}</a>{% if notification.unseen %} - non lu {% endif %}</h3>
</div>