{% set active_link = 'edit' %}

{% extends "AppBundle:User/Profile:layout.html.twig" %}

{% block user_profile_content %}
    <div class="profile-table-info">
        {% include "@FOSUser/Profile/edit_content.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">um_collection({max:1, add:'<a href="#">Ajouter une adresse</a>', remove:'<a href="#">Supprimer l\'adresse</a>'});</script>
{% endblock %}

