{% set active_link = 'edit' %}

{% extends "FOSUserBundle:Profile:layout.html.twig" %}

{% block user_profile_content %}
    <h3>Modifier mon profil</h3>
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">um_collection({max:1, add:'<a href="#">Ajouter une adresse</a>', remove:'<a href="#">Supprimer l\'adresse</a>'});</script>
{% endblock %}

