{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}">Voir le profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('fos_user_profile_edit') }}">Modifier le profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_change_email') }}">Changer mon e-mail</a>
                    </li>
                </ul>
            </div>

            <div class="col-8">
                {% block user_profile_content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
