{% set active_link = 'show' %}

{% extends "FOSUserBundle:Profile:layout.html.twig" %}

{% block user_profile_content %}
    <h3>Mon profil</h3>
    {% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock %}
