@import "config/index";
@import "components/loader";
@import "components/admin";

.content-box {
  margin-bottom: 1.5rem;

  &-content {
    padding: 1.5rem;

    background: #fdfdfe;
    border-right: 2px solid #d0d2d4;
    border-bottom: 2px solid #d0d2d4;

    &.border-left {
      border-left: 2px solid #d0d2d4;
    }
  }
}

.ui-datepicker {
  z-index: 1000 !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  display: none!important;
}