{% extends 'sonata_admin_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="content-box">
        <div class="content-box-content">
            <h2>Validation d'un artiste</h2>
            <p><a href="{{ path('artist_profile', {'id':artist.id, 'slug': artist.slug}) }}">Voir le profil de l'artiste tel qu'il sera visible.</a></p>

            <p class="alert alert-warning">
                Attention, cette action enverra un mail à l'artiste pour le prévenir qu'il a été validé.
            </p>

            <div>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}