{# src/XBundle/Resources/views/Projects/add.html.twig #}

{% extends "XBundle::layout.html.twig" %}

{% block x_body %}


  <h2>Ajouter un projet</h2>

  {{ include("XBundle:Projects:form.html.twig") }}

  <p>
    Attention : cette annonce sera ajoutée directement
    sur la page d'accueil après validation du formulaire.
  </p>



{% endblock %}