{# src/XBundle/Resources/views/Projects/form.html.twig #}
<link href = "{{ asset('x/css/formTag.css') }}" rel = "stylesheet">
<div class="well">
	{{ form(form) }}
</div>

<script src = "{{ asset('x/js/formTag.js') }}"></script>