/app/config/parameters.yml
/app/spool/
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
!/web/pdf
/web/pdf/orders/*
/web/pdf/tickets/*
/web/pdf/viptickets/*
/web/pdf/phtickets/*
!/web/pdf/orders
!/web/pdf/tickets
!/web/pdf/viptickets
!/web/pdf/phtickets
/web/yb/images/campaigns/*
/web/yb/tickets/*
!/web/yb/tickets
!web/yb/images/campaigns
!web/uploads
!web/uploads/artist_gallery
!web/uploads/hall_gallery
!web/uploads/hall_technicalspecs
!web/images/festivals
web/images/festivals/*
web/uploads/artist_gallery/*
web/uploads/hall_gallery/*
web/uploads/hall_technicalspecs/*
/.idea/
/.DS_Store
**/.DS_Store
/deploy.php
!DoctrineMigrations
!web/js/compiled
!web/css/compiled
web/js/compiled/*
web/css/compiled/*
!/vendor/tecnickcom/tcpdf/fonts/montserrat.z
!/vendor/tecnickcom/tcpdf/fonts/montserrat.php
/web/x/images/projects
/web/x/tickets