{% extends 'sonata_admin_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="content-box">
        <div class="content-box-content">
            <h2>Demande de remboursement</h2>

            <p>
                Es-tu sûr de vouloir rembourser tous les participants à ce crowdfunding ? {% if contract.isOneStepFromBeingRefunded %}(cela le remboursera immédiatement){% else %}(il y aura besoin de la validation d'autres admins avant le remboursement){% endif %}
            </p>

            {% if not contract.failed %}
                <div class="alert-danger">Attention : le crowdfunding n'est pas un échec pour l'instant. Réfléchis bien avant de rembourser tous les participants !</div>
            {% endif %}

            <div>
                {{ form_start(form) }}

                {{ form_widget(form.confirm) }}
                {{ form_widget(form.cancel) }}

                {{ form_rest(form) }}
            </div>
        </div>
    </div>
{% endblock %}