{% if object.isInTestPeriod %}
        <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('prevalidate', object) }}">Mettre fin à la pré-validation ({{ object.currentTestDayNb }}è jour de test)</a>
{% endif %}