
<div>test</div>

<p style="color: blue">Voici un paragraphe avec un peu en <i>italique</i>.</p>

<h2>Titre</h2>

<table>

    <tr>
        <td>mdr</td>
        <td>mdr2</td>
        <td>mdr3</td>
    </tr>

    <tr>
        <td>tropcon</td>
        <td>toutcon</td>
        <td>trèscon</td>
    </tr>

</table>
