{% block style %}
    <style type="text/css">
        #header {
            text-align: center;
            color: #f39326;
            font-weight: bold;
        }

       #content {
           margin-left: 20px;
       }

        h1 {
            text-align:center;
            color: #f39326;
            border: dotted 1mm #4a4b4d;
        }
        td, th {
            padding: 5px 10px;
        }
        #footer {
            margin-top: 40px;
            background-color: #4a4b4d;
            width: 100%;
            padding: 10px 20px;
            color: white;
        }
        #footer p {
            text-align:center;
            color: white;
        }
    </style>
{% endblock %}

{% block page %}
    <page backtop="7mm" backbottom="7mm" backleft="10mm" backright="10mm">
        {% block header %}
            <page_header>
                <div id="header">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" height="100" alt="Un-Mute ASBL" />
                </div>
            </page_header>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <page_footer>
                <div id="footer">
                    <p>
                        Un-Mute ASBL - IBAN BE46 0689 3185 0836 - pierre@un-mute.be - Place Saint-Antoine 3, 1040 Bruxelles - https://un-mute.be
                    </p>
                </div>
            </page_footer>
        {% endblock %}
    </page>
{% endblock %}