{% block style %}
    <style type="text/css">
        #header {
            text-align: center;
            color: #f39326;
            font-weight: bold;
        }

       #content {
           margin-left: 20px;
       }

        h1 {
            text-align:center;
            color: #f39326;
        }
        td, th {
            padding: 5px 10px;
        }
        #footer {
            margin-top: 40px;
            background-color: #4a4b4d;
            width: 100%;
            padding: 10px 20px;
            color: white;
        }
        #footer p {
            text-align:center;
            color: white;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .text-white {
            color: white;
        }

        .text-secondary {
           color: #4a4b4d;
        }

        .text-bold {
            font-weight: bold;
        }

        {% block additional_styles %}
        {% endblock %}
    </style>
{% endblock %}

{% block page %}
    <page {% block page_margins %}backtop="25mm" backbottom="30mm" backleft="10mm" backright="10mm"{% endblock %}>
        {% block header %}
            <page_header>
                <div id="header">
                    {% block header_content %}
                        <img src="{{ absolute_url(asset('images/logo.png')) }}" height="100" alt="Un-Mute ASBL" />
                    {% endblock %}
                </div>
            </page_header>
        {% endblock %}
        {% block footer %}
            <page_footer>
                <div id="footer">
                    {% block footer_content %}
                        <p>
                            Un-Mute ASBL - IBAN BE46 0689 3185 0836 - contact@un-mute.be - Place Saint-Antoine 3, 1040 Bruxelles - https://un-mute.be
                        </p>
                    {% endblock %}
                </div>
            </page_footer>
        {% endblock %}

        {% block content %}
        {% endblock %}
    </page>
{% endblock %}