{% extends 'yb/base_simple_header.html.twig' %}

{% block nav_details_links %}

{% endblock %}

{% block additional_javascripts %}
    <script type="text/javascript" src="{{ absolute_url(asset('js/lib/jquery.collection.js')) }}"></script>

    <script type="text/javascript">
        function yb_collection(options) {
            $('.collection').collection($.extend({
                up: '',
                down: '',
                add_at_the_end: true,
                add: '<a href="#">Ajouter</a>'
            }, options));
        }

        function yb_second_collection(options) {
            $('.second-collection').collection($.extend({
                up: '',
                down: '',
                add_at_the_end: true,
                add: '<a href="#">Ajouter</a>',
                prefix: 'second-collection'
            }, options));
        }
    </script>
{% endblock %}