{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}

    {% import '@App/YB/Macros/campaigns.html.twig' as macros %}

    <section class="container py-5">
        <h2>Tableau de bord</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('yb_members_campaign_new') }}"><i class="far fa-plus-square"></i> Nouvelle campagne</a>
                <div class="text-muted">Créez une campagne de vente de tickets pour votre événement, avec de nombreuses options de configuration.</div>
            </li>
            <li class="list-group-item">
                <a href="{{ path('yb_members_payment_options') }}"><i class="far fa-credit-card"></i> Facturation</a>
                <div class="text-muted">Trouvez les infos concernant notre mode de facturation et configurez vos infos de paiement.</div>
                {% if app.user.bankAccount is null %}
                    <div><i class="fas fa-exclamation"></i> Vous n'avez pas encore renseigné vos infos de paiement. Nous vous conseillons de nous donner ces informations dès que possible.</div>
                {% endif %}
            </li>
            <li class="list-group-item">
                {% if passed_campaigns|length > 0 %}<a href="{{ path('yb_members_passed_campaigns') }}">{% endif %}<i class="far fa-clock"></i> Campagnes passées{% if passed_campaigns|length > 0 %}</a>{% endif %}
                <div class="text-muted">Retrouvez les infos des campagnes que vous avez lancées par le passé et qui sont terminées.</div>
            </li>
        </ul>
    </section>

    {% if current_campaigns is not empty %}
        <section class="container pb-5">
            <h2>Campagnes en cours</h2>
            {% for campaign in current_campaigns %}
                {{ macros.campaign_row(campaign) }}
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}