{% extends "@App/YB/Members/base.html.twig" %}

{% macro campaign_row(campaign) %}

{% endmacro %}

{% block body %}

    {% import _self as macros %}

    <section class="container">
        <p>
            <i class="far fa-plus-square"></i>
            <a href="{{ path('yb_members_campaign_new') }}">Nouvelle campagne</a>
        </p>
    </section>

    {% if current_campaigns is not empty %}
        <section class="container">
            <h2>Campagnes en cours</h2>
            {% for campaign in current_campaigns %}
                {{ macros.campaign_row(campaign) }}
            {% endfor %}
        </section>
    {% endif %}

    {% if passed_campaigns is not empty %}
        <section class="container">
            <h2>Campagnes passées</h2>
            {% for campaign in passed_campaigns %}
                {{ macros.campaign_row(campaign) }}
            {% endfor %}
        </section>
    {% endif %}

{% endblock  %}