{% extends "@App/YB/Members/base.html.twig" %}

{% block members_body %}

    {% import '@App/YB/Macros/campaigns.html.twig' as macros %}

        <section class="container py-5">
            <h2>Campagnes en cours</h2>
            {% if current_campaigns is not empty %}
                {% for campaign in current_campaigns %}
                    {{ macros.campaign_row(campaign) }}
                {% endfor %}
            {% else %}
                <p>Vous n'avez pas de campagne en cours. Pour en lancer une, <a href="{{ path('yb_members_campaign_new') }}">c'est par ici</a> !</p>
            {% endif %}
        </section>

{% endblock %}