{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}
    {% import '@App/YB/Macros/campaigns.html.twig' as macros %}

    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><span>Campagnes passées</span></li>
        </ol>
    </section>

    <section class="container">
        <h2>Campagnes passées</h2>
        {% for campaign in campaigns %}
            {{ macros.campaign_row(campaign) }}
        {% else %}
            <p>Vous n'avez pas encore lancé de campagne qui soit arrivée à terme.</p>
        {% endfor %}
    </section>

{% endblock body %}