{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}

    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li class="active"><a href="{{ path('yb_members_invoices') }}">Facturation</a></li>
            <li class="active"><span>Explicatif</span></li>
        </ol>
    </section>

    <section class="container py-3">
        <h2>Fonctionnement de la facturation Ticked-it</h2>
        <p>
            Ticked-it joue le rôle d'intermédiaire commissionnaire dans vos campagnes. Nous vous facilitons la tâche en vendant vos tickets et en émettant un décompte complet en fin de campagne. Ainsi, vous suivez le chiffre d'affaires de chacune de vos campagnes de près.
            Voici un guide expliquant plus en détails notre mode de fonctionnement pour la facturation :
        </p>

        <ol>
            <li>Vous créez une campagne de vente en ligne sur Ticked-it. La création de campagne est une action entièrement gratuite.</li>
            <li>Tout au long de la campagne, les paiements sont tous recueillis et recensés par Ticked-it. (Si vous distribuez des tickets gratuits, vous n'avez aucun frais.)</li>
            <li>En fin des ventes (et également lors de la validation en cas de campagne par financement participatif), vous recevez un décompte de la part de Ticked-it. Ce décompte reprend en détails les recettes de votre campagne. Vous êtes notifié par e-mail lorsque ce décompte est disponible.</li>
            <li>Vous validez ensuite ce décompte, qui reprend la part de recettes que Ticked-it doit vous reverser (cette part étant calculée sur base des taux de commissions fixées dans votre contrat). La validation du décompte génère une facture. Les administrateurs Ticked-it en sont notifiés.</li>
            <li>Ticked-it vous verse la part ainsi calculée.</li>
            <li>S'il s'agit d'une campagne <b>avec financement participatif</b> et que vous avez décidé de l'annuler parce que l'objectif n'est pas atteint à la date de validation, alors Ticked-it remboursera intégralement tous les acheteurs, sans aucun frais pour vous ni pour eux. Dans ce cas, vous ne recevrez pas de décompte et ne devrez émettre aucune facture.</li>
        </ol>
    </section>

    <section class="container py-3">
        <h2>Vos infos de facturation</h2>
        <p>
            Nous avons besoin de vos infos de facturation pour émettre nos factures.
            Vous pouvez les encoder pour chaque campagne depuis votre tableau de bord, en choisissant "Modifier les informations".
            Les infos seront pré-remplies avec le numéro de TVA et le numéro de compte en banque de l'organisation avec laquelle vous avez créé la campagne.
            Veillez à tenir ces informations à jour car c'est sur leur base uniquement que sont calculées les factures.
            <br />
            Notez que si vous êtes un particulier, il vous suffit de laisser votre numéro de TVA vide et de choisir le taux de TVA à 0%.
        </p>
    </section>

{% endblock body %}