{% extends "@App/YB/Members/base.html.twig" %}

{% block body %}

    <section class="container px-0 mt-3">
        <ol class="breadcrumb-arrow">
            <li><a href="{{ path('yb_members_dashboard') }}">Tableau de bord</a></li>
            <li><a href="{{ path('yb_members_my_organizations') }}">Mes organisations</a></li>
            <li class="active"><span>Renommer mon organisation</span></li>
        </ol>
    </section>

    <section class="container py-5">
        <h2>Renommer l'organisation "{{ organization.getName }}"</h2>
        Entrez le nouveau nom de votre organisation. Il doit être unique ! Un message vous informera si ce n'est pas le cas.
        {{ form(form) }}
    </section>

{% endblock body %}