<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block headtitle %}Un-Mute{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>{% block header %}{% endblock %}</header>
        <main>{% block body %}{% endblock %}</main>
        <footer>{% block footer %}{% endblock %}</footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
