{% macro preview(text, limit) %}
    {%- set preview_content -%}
        {{- text|decode_html|raw -}}
    {%- endset -%}
    {% if preview_content|length > limit %}
        {{ preview_content|slice(0, limit)|raw }}...
    {% else %}
        {{ preview_content|raw }}
    {% endif %}
{% endmacro %}

{% macro hidden_loader(hidden=true) %}
    <p id="loader-explanation"></p>
    <div class="loader"{% if hidden %} style="display:none;"{% endif %}>
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50"><circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
{% endmacro %}
