{% extends ":patterns:card.html.twig" %}

{% block card_content %}
    {% set background_url = artist.profilepic is not null ? absolute_url(asset(artist.webPath(profilepic))) : asset('images/artist-card-default.jpg') %}
    <div class="um-card" style="background-image: url({{ background_url }});">

        <!-- this is the content of the card with an optionnal span for â­ -->
        <div class="um-card-content">
            <h5>{% if news is defined and news %}NOUVEL ARTISTE - {% endif %} {{ artist.artistname }}</h5>
            <p>{{ artist.shortDescription|striptags|length > 50 ? artist.shortDescription|striptags|slice(0, 50) : artist.shortDescription|striptags }}</p>
        </div>

        <!-- this is the link that the card need to take to -->
        <a class="um-card-link" href="{{ path('artist_profile', {'id': artist.id}) }}"></a>
    </div>
{% endblock %}