// table of contents
// =================
//
// colors
// typos
//

// DEV
// ***************************************************************************************************
$dev-bg-color: #BDBDBD;

// =================
// Main colors for =
// =================

$main-color: rgb(252, 204, 34);
$main-background: white;
$secondary-background: #4a4b4d;


// =======
// typos =
// =======

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');


// main paddings/margins

$main-padding: 20px;
$main-margin: 20px;

// loader variables
$l-color-1: #d62d20;
$l-color-2: #0057e7;
$l-color-3: #008744;
$l-color-4: #ffa700;
$l-width: 60px;

