// table of contents
// =================
//
// colors
// typos
//

// DEV
// ***************************************************************************************************
$dev-bg-color: #BDBDBD;

// =================
// Main colors for =
// =================
$main-color: #f08722;
$danger-color: #982615;
$positive-color: #6cb59d;
$main-background: rgb(245, 248, 250);
$main-background-strong: #ffcd72;;
$main-background-light: #ebf3f8;
$secondary-background: #7a7b7f;;
$main-background-very-strong: $secondary-background;
$secondary-link-color: #a06c01;
$spacer: 1.2rem;
$successful-progress-bg: #6bc361;
$transparent-orange: rgba(146, 141, 134, 0.22);
$transparent-orange-2: rgba(254, 223, 161, 0.8);
$main-yellow: #eadf0c;

// =======
// typos =
// =======

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Exo+2|Lato|Barlow+Condensed|Passion+One|Satisfy|Hind');


$headline-font: 'Hind';
$headline-color: white;
$secondary-font: 'Hind', sans-serif;
$font: 'Hind', 'Montserrat', 'sans-serif';

// main paddings/margins

$main-padding: 20px;
$main-margin: 20px;

// loader variables
$l-color-1: #d62d20;
$l-color-2: #0057e7;
$l-color-3: #008744;
$l-color-4: #ffa700;
$l-width: 60px;

$footer-height: 100px;
$footer-background-color: #fdfdfe;

$opacity-default-color: rgba(0,0,0,0.3);
