// table of contents
// =================
//
// colors
// typos
//

// DEV
// ***************************************************************************************************
$dev-bg-color: #BDBDBD;

// =================
// Main colors for =
// =================
$main-color: #ffa701;
$danger-color: #982615;
$positive-color: #6cb59d;
$main-background: rgb(245, 248, 250);
$main-background-strong: #ebf3f8;
$secondary-background: #4a4b4d;
$secondary-link-color: #a06c01;
$spacer: 1.2rem;

// =======
// typos =
// =======

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Exo+2|Lato|Barlow+Condensed|Passion+One|Satisfy');


$headline-font: 'Satisfy', cursive;
$headline-color: white;
$secondary-font: 'Exo 2', sans-serif;
$font: 'Montserrat', 'sans-serif';

// main paddings/margins

$main-padding: 20px;
$main-margin: 20px;

// loader variables
$l-color-1: #d62d20;
$l-color-2: #0057e7;
$l-color-3: #008744;
$l-color-4: #ffa700;
$l-width: 60px;

$footer-height: 100px;
$footer-background-color: #fdfdfe;

$opacity-default-color: rgba(0,0,0,0.3);