{% extends "base.html.twig" %}

{% block body %}

    {% if artists is empty %}

        <p>Pas encore d'artiste sur la plateforme</p>

    {% else %}

        <h1>Artistes</h1>
        <ul>
            {% for artist in artists %}
                <li><a href="{{ path('fan_artist_profile', {'id': artist.id}) }}">{{ artist.artistname }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}