{% block app_bundle_block_row_type_row %}
    <div class="col-12">
        <div class="col-12 row">
            <div class="col-md-4">{{ form_row(form.name) }}</div>
            <div class="col-md-4">{{ form_row(form.nbSeats) }}</div>
            <div class="col-md-4">{{ form_row(form.numerotationSystem) }}</div>
        </div>
    </div>
{% endblock %}