{% form_theme form ':Form:bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'action': path('yb_members_create_ticket', {'id': campaign.id})}) }}

{% include '@App/YB/Form/counterpart.html.twig' %}

<button class="btn btn-secondary" id="button_creation">Créer</button>

{{ form_end(form) }}

<script>
    $('#button_creation').click(function(e) {
        e.preventDefault();
        $.ajax({
            method: 'post',
            url: "{{ path('yb_members_create_ticket', {'id': campaign.id}) }}",
            data: $("#button_creation").closest('form').serialize(),
            beforeSend: function () {
                loader();
            },
            success: function (data) {
                if (data == 'OK') {
                    $.get('{{ path('yb_members_get_tickets_list', {'id': campaign.id}) }}', function (html_data) {
                        $('#counterparts-container').html(html_data);
                    });
                    hideLoader();
                    $('#counterPartsModalBody').html("Le ticket a bien été créé.");
                }
                else {
                    hideLoader();
                    $('#counterPartsModalBody').html(data);
                }
            }
        });
    });
</script>