{% extends '@App/YB/Members/base.html.twig' %}

{% block body %}
    <div class="container py-5" id="order-recapitulation">
        <h2>Règles de confidentialité de l'application "Ticked-it Scanner"</h2>
        <p>En utilisant l'application, vous acceptez que l'application puisse avoir accès à la caméra de votre smartphone afin de scanner les tickets.<br>
            Toutefois, il est possible de ne pas autoriser l'application à accéder à l'application. Vous devrez alors entrer manuellement les codes-barres.</p>
    </div>
{% endblock %}