{% extends 'yb/base_simple_header.html.twig' %}
{% trans_default_domain 'yb' %}

{% block body %}

    <div class="container py-5">
        <p>
            Accéder à :
            <br><a href="#cgu">Conditions générales d'utilisation</a>
            <br><a href="#cgv">Conditions générales de vente</a>
        </p>
    </div>

    <div id="cgu" class="container py-5">
        <h2>Conditions Générales d’Utilisation</h2>

        <p>IL EST IMPORTANT DE LIRE ATTENTIVEMENT ET DE COMPRENDRE CES CONDITIONS GÉNÉRALES D’UTILISATION DU SITE. EN ACCEPTANT LES PRÉSENTES CONDITIONS, VOUS VOUS ENGAGEZ À RESPECTER LES TERMES ET CONDITIONS CI-APRÈS. SI VOUS N'ÊTES PAS D'ACCORD AVEC CES TERMES ET CONDITIONS ET QUE VOUS NE VOULEZ PAS LES RESPECTER, VOUS ÊTES LIBRES DE NE PAS LES ACCEPTER ET NE POURREZ PAS, EN CONSÉQUENCE, BÉNÉFICIER DES SERVICES PROPOSÉS PAR TICKED-IT SUR CE SITE.
        </p>
        <p>Les présentes Conditions Générales d’Utilisation ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site www.ticked-it.be et leur utilisation en tant qu’« Utilisateur ».
        </p>
        <p>L'accès et l'utilisation de ce site Internet par l’Utilisateur sont soumis aux Conditions Générales d'Utilisation reprises ci-dessous. Veuillez donc lire les présentes Conditions Générales d’Utilisation attentivement avant d’utiliser le présent site internet. Si vous n’acceptez pas les Conditions Générales d'Utilisation, veuillez quitter le présent site internet immédiatement et ne pas l’utiliser.
        </p>
        <p>Les Conditions Générales d’Utilisation s’appliquent dès l’accès au site par l’Utilisateur jusqu’à la fin de sa navigation
        </p>
        <p>Ticked-it se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes Conditions Générales d’Utilisation.
        </p>

        <h3>Section 1 : Présentation et définitions</h3>
        <h4>§1. Présentation</h4>
        <p>La plateforme développée par Ticked-it, à l’utilisation de laquelle se rattachent les présentes Conditions Générales d’Utilisation, est une plateforme de billetterie, ayant pour particularité, la possibilité de mettre de tickets en vente pour des événement encore en cours de confirmation.
        </p>

        <h4> §2. Définitions</h4>
        <p>Il faut entendre par :
        <br />-	« Utilisateur » : toute personne qui consulte et/ou utilise le site ou l'un des services proposés par le site ;
        <br />-	« Plateforme » ou « Site » : le site web www.ticked-it.be;
        <br />-	« Événement » : concert en devenir pour lequel l’Artiste n’a pas encore atteint le seuil de tickets vendus nécessaire à sa confirmation ;
        <br />-	« Seuil » : le nombre minimum de tickets à vendre pour qu’un événement soit confirmé. Le Seuil défini pour un Evénement est fixé préalablement par l’Utilisateur qui souhaite mettre des tickets en vente ;
        <br />-	« Campagne de vente » : Période, à compter de jour de la création d’un Evénement, pour atteindre le Seuil de vente nécessaire à la confirmation dudit Evénement.
        <br />-	« Concert » : Festivité organisée par un Utilisateur à la suite de la confirmation d’un Evénement ;
        <br />-	« Organisateur » : Tout Utilisateur ayant créé un ou plusieurs événement sur la plate-forme Un-Mute pour le financement d’un concert qu’il souhaiterait pouvoir organiser.
        </p>

        <h3>Section 2 : Mentions légales</h3>
        <p>L'édition du site www.ticked-it.be est assurée par Ticked-it, dont le siège social est situé au 3, Place Saint-Antoine, 1040 Bruxelles, dont l’adresse de contact est pierre@ticked-it.be.
        </p><p>Le directeur de la publication est Monsieur Gonzague Yernaux (gonzague@ticked-it.be).
        </p><p>L'hébergeur du site www.ticked-it.be est OVH SAS au capital de 10 069 020 € dont le siège social est situé au 2, Rue Kellermann - 59100 Roubaix – France.
        </p>

        <h3>Section 3 : Vie privée et données personnelles</h3>
        <p>Les informations suivantes pourront être demandées par Ticked-it lors de l’achat d’un ticket :
        <br>-	Nom (obligatoire)
        <br>-	Prénom (obligatoire)
        <br>-	Adresse email (obligatoire)
        <br>-	Adresse postale (facultatif)
        <br>-	Date de naissance (facultatif)

        </p>

        <p>La gestion de ces informations est à charge de Ticked-it. Ticked-it assure aux Utilisateurs une collecte et un traitement des informations personnelles dans le respect de la vie privée conformément à la loi du 8 décembre 1992 relative à la protection de la vie privée à l'égard des traitements de données à caractère personnel et au Règlement 2016/679 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation des données (ci-après RGPD).
        </p>Conformément à l’article 12 de la loi du 8 décembre 1992 relative à la protection de la vie privée à l'égard des traitements de données à caractère personnel et à l’article 15 du RGPD, l’Utilisateur conserve un droit de regard sur les données communiquées à Ticked-it et peut, à tout moment, y apporter des modifications et des rectifications si elles sont inexactes, conformément à l’article 16 du RGPD. Il possède en outre un droit à l’effacement  de ses données personnelles (article 17 du RGPD) ainsi qu’un droit d'opposition au traitement de celles-ci (article 15 du RGPD). Le droit de regard est exercé après l’envoi d’une demande écrite à Ticked-it. Les modifications se feront par simple envoi d’un formulaire de modification, disponible sur la plateforme, par mail à Gonzague Yernaux à l’adresse gonzague@Ticked-it.be ou directement par l’Utilisateur concerné via son espace personnel.
        <p>Ticked-it s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
        </p>Si, malgré tous ses efforts, Ticked-it est victime d’une intrusion informatique exposant les données de ses Utilisateurs, Ticked-it s’engage à communiquer l’information directement aux Utilisateurs concernés. Ticked-it ne pourra en aucun cas être tenue pour responsable de tout dommage que pourrait subir un Utilisateur.
        <p>Par ailleurs, Ticked-it peut être amenée à divulguer des données personnelles lorsqu'elles sont nécessaires à l'identification, à l'interpellation ou à la poursuite en justice de tout individu susceptible de porter préjudice ou atteinte (intentionnellement ou non) aux droits ou à la propriété de Ticked-it ou à toute autre personne risquant de subir un préjudice causé par de telles activités.
        </p>
        <p>Sauf stipulation écrite contraire, ces données peuvent faire l’objet d’un traitement à des fins statistiques. L’anonymat des Utilisateurs est, à cette occasion, préservé. Ces données ne seront en aucun cas utilisées à des fins commerciales.
        </p>L’hébergeur de Ticked-it, OVH SAS, s’est engagé à prendre toutes les mesures nécessaires au respect du RGPD.
        <p>Le Site n’utilise pas de « cookies ».
        </p>

        <h3>Section 4 : Accès aux services</h3>
        <p>Ticked-it met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. Cette obligation est de moyen, Ticked-it ne s'engageant pas à atteindre ce résultat.
        </p>
        <p>L'Utilisateur et l’Utilisateur ont la possibilité de contacter le site par messagerie électronique à l’adresse suivante pierre@ticked-it.be.
        </p>
        <p>L'accès aux services du site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. l’Utilisateur s’engage à ne réclamer aucune indemnisation suite à l'interruption, à la suspension de l’accès à la plateforme ainsi qu’à la suspension de l’accès aux présentes Conditions Générales d’Utilisation ou à leur modification.
        </p>
        <p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais encourus par l'Utilisateur pour accéder aux services proposés par Ticked-it via son site internet www.ticked-it.be (matériel informatique, logiciels, connexion Internet, etc.) sont à la charge de l’Utilisateur selon le cas.
        </p>
        <p>Ticked-it ne garantit pas que les informations présentées sur son site soient détaillées, complètes, vérifiées ou exactes. Les documents, informations, fiches descriptives, et, en général, tout contenu présent sur le site sont fournis en « l'état », sans aucune garantie expresse ou tacite de quelque sorte que ce soit.
        </p>
        <p>Ticked-it ne peut donc être tenue responsable de l’inexactitude des informations et contenus fournis par un tiers et divulgués par Ticked-it sur la Plateforme.
        </p>
        <p>L’Utilisateur déclare et garantit qu’il connaît parfaitement les caractéristiques et les contraintes d’internet.
        </p>

        <h3>Section 5 : Obligations à charge de l’Utilisateur</h3>
        <p>En cas de publication de contenu sensu lato par un Utilisateur sur la plateforme, les conséquences de cette publication sur sa vie et/ou celle des autres Utilisateurs de la plateforme sont de la responsabilité exclusive de l’Utilisateur concerné.
        </p>
        <p>Tout contenu mis en ligne par l’Utilisateur est et reste donc de sa seule responsabilité. L’Utilisateur s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts et aux droits de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par le(s) Utilisateur(s) à l’origine du litige. Ticked-it se réserve notamment le droit d’appeler le(s) Utilisateur(s) ayant publié le contenu litigieux à l’origine du litige en garantie et/ou à se retourner contre ce(s) Utilisateur(s).
        </p>
        <p>Il est rappelé que l’Utilisateur prend l’initiative de divulguer et de diffuser sur la plateforme des informations, données, textes, contenus, photos, vidéos le concernant. Aussi, l’Utilisateur en assume-t-il l’entière responsabilité et renonce à tout recours contre Ticked-it, notamment sur le fondement d’une atteinte à son droit à l’image, à son honneur, à sa réputation, à sa vie privée, résultant de la diffusion ou de la divulgation d’informations le concernant.
        </p>
        <p>Les informations rendues accessibles par l’Utilisateur, de sa propre initiative, peuvent aussi être collectées et utilisées par des tiers. Par conséquent, l’Utilisateur décharge Ticked-it de toute responsabilité ou conséquence dommageable découlant de l’utilisation par des tiers des informations échangées par le biais des outils de communication proposés par le Site.
        </p>
        <p>Plus largement, Ticked-it ne peut être tenue pour responsable des contenus diffusés par un Utilisateur qui seraient susceptibles de contrevenir aux droits d’un ou de plusieurs autres Utilisateurs ou aux droits des tiers.
        </p>
        <p>En conséquence, Ticked-it se dégage de toute responsabilité en cas de conflit ou de litige survenant entre deux ou plusieurs Utilisateurs de la plateforme qui sont entrés en contact via la plateforme créée par Ticked-it.
        </p>
        <p>Par ailleurs, Ticked-it se réserve le droit d’exercer une modération a posteriori sur les publications et de refuser, le cas échéant, leur mise en ligne, sans avoir à s’en justifier auprès de l’Utilisateur (il s’agit là d’une faculté de modération a posteriori, et non d’une obligation systématique pour Ticked-it). En conséquence, le contenu partagé par l’Utilisateur peut à tout moment et pour n'importe quelle raison être supprimé ou modifié par Ticked-it. L’Utilisateur ne reçoit aucune justification et notification préalablement à la suppression du contenu par Ticked-it.
        </p>
        <p>Ticked-it ne peut donc être tenue responsable de l’illégalité et de l’inexactitude des informations et contenus fournis par un tiers.
        </p>
        <p>Par conséquent, l'Utilisateur assume seul l'entière responsabilité de la publication, la diffusion et l'utilisation des informations et contenus sur le et/ou en provenance du présent site.
        </p>


        <h3>Section 6 : Organisation de concerts</h3>
        <h4>§1. Conditions et modalités d’organisation</h4>
        <p>Un Organisateur peut décider de fixer un Seuil de confirmation à un Evénement qu’il organise via la plateforme. Dans ce cas, si suffisamment de tickets sont vendus pour atteindre ce Seuil de confirmation, L’Organisateur s’engage à réaliser ledit événement, appelé alors Concert.
        </p>
        <p>
            Dans le cas où ce Seuil de confirmation de l’Evénement n’est pas atteint, Ticked-it rembourse à chaque Utilisateur la totalité de la somme versée par ledit Utilisateur pour l’acquisition d’une ou de plusieurs places dudit concert.
        </p>
        <p>Le délai accordé pour vendre le nombre de tickets nécessaires à la confirmation de l’Evénement est également fixé par l’Organisateur.
        </p>

        <h4>§2. Délai de rétractation</h4>
        <p>Par exception au principe suivant lequel le consommateur dispose d’un droit de rétractation de 14 jours lors de la conclusion d’un contrat à distance tel qu’indiqué à l’article VI.47 du code de droit économique, l’Utilisateur ne pourra en aucun cas se prévaloir dudit droit de rétractation, les services liés à des activités de loisir proposés par Ticked-it relevant de l’exception à ce principe, libellée à l’article VI.53,12° du Code de droit économique, dès lors que le contrat prévoit une date ou une période d’exécution spécifique.
        </p>

        <h4>§3. Annulation d’un concert Ticked-it après confirmation</h4>
        <p>En cas de force majeure ou d’un fait imprévisible et insurmontable indépendant de la volonté de Ticked-it ayant pour conséquence l’annulation d’un Concert, les Utilisateurs ayant acheté une ou plusieurs places pour le Concert en question pourront prendre contact directement avec l’Organisateur, qui veillera à définir des modalités de compensation. Aucun remboursement d’un ticket en argent ne sera effectué par Ticked-it et aucune compensation pécuniaire n’est prévue.
        </p>

        <h3>Section 7 : Juridiction et droit applicable en cas de litige</h3>
        <p>En cas de différend entre Utilisateurs ou entre Utilisateurs et Ticked-it, les parties s’engagent à tenter, avant de recourir à toute procédure judiciaire, de résoudre ce différend à l’amiable. Si cette tentative de résolution du différend à l’amiable, menée de bonne foi, échoue, le droit belge sera le droit applicable une fois le litige porté devant les juridictions compétentes (cours et tribunaux de l’arrondissement judiciaire francophone de Bruxelles). Le droit belge régit également les éventuelles relations précontractuelles.
        </p>
        <p>Les correspondances échangées entre Ticked-it et les Utilisateurs sont essentiellement assurées par courrier électronique. L’Utilisateur reconnaît et accepte que les informations délivrées par Ticked-it par courrier électronique et sur le site font foi entre les parties et reçoivent la même force probante qu’un écrit manuscrit.
        </p>
        <p>Les présentes Conditions Générales d’Utilisation et toutes les opérations qui en découlent sont régies par le droit belge.
        </p>
        <p>Elles sont rédigées en langue française. En cas de traduction de celles-ci dans une ou plusieurs langues, le texte français sera considéré comme le texte authentique et prévaudra toujours en cas de divergence avec les versions traduites. Dans le même esprit, seul le texte français fera foi en cas de litige.
        </p>
        <p>Au cas où l’une ou plusieurs stipulations contenues dans les Conditions Générales d’Utilisation est (sont) déclarée(s) nulle(s), la validité des autres stipulations des présentes n’en est en aucun cas affectée.
        </p>
        <p>Les stipulations déclarées nulles seront, conformément à l’esprit et à l’objet des présentes, remplacées par d’autres stipulations valables, qui, eu égard à leur portée, se rapprochent dans toute la mesure permise par la loi, des stipulations déclarées nulles.
        </p>
        <p>Le fait que Ticked-it ne se prévale pas, à un moment ou à un autre, d’une des dispositions des présentes Conditions Générales d’Utilisation ne pourra être interprété comme valant renonciation par Ticked-it à s’en prévaloir ultérieurement.
        </p>

        <h3>Section 8 : Conditions de paiement</h3>
        <p>
            En acceptant les présentes, l’Utilisateur déclare que la source des fonds utilisés par lui sur la plateforme n’est pas illégale et s’engage à ne pas utiliser ladite plateforme pour une activité illégale ou frauduleuse, notamment le blanchiment d’argent.
        </p>

        <h4>§1. Système de vente de ticket</h4>
        <p>Ticked-it met en vente des tickets pour des événements qui pourraient être encore à confirmer, dans un lieu précis et à une date déterminée. Dans ce cas, ledit Evénement ne sera organisé qu’à la condition que soit atteint le Seuil de vente de tickets. Si le Seuil n’est pas atteint (condition résolutoire), l’Evènement ne deviendra pas un Concert et ne sera pas organisé, et les tickets vendu seront remboursés (la vente étant révoquée au sens de l’article 1183 du Code civil et les obligations réciproques des Utilisateurs, des Artistes et de Ticked-it étant censées n’avoir pas existé).
        </p>

        <h4>§2. Achat de tickets</h4>
        <p>Tout Utilisateur de la plateforme Ticked-it peut acheter des tickets pour les Evénements proposés par un Organisateur ou pour les Concerts déjà confirmés. L’Utilisateur sélectionne un Evénement (ou un Concert) et le nombre de tickets qu’il désire acquérir. Ce dernier est alors invité à régler le montant dû via le système de paiement Stripe.
        </p>
        <p>Ticked-it ne joue pas le rôle d’intermédiaire financier. Toute transaction réalisée sur la plateforme passe par le service de Stripe.
        </p>
        <p>Dès lors, les Conditions Générale d’Utilisation de Stripe (https://stripe.com/be/privacy) ainsi que les modalités encadrant les payements effectués via Stripe (https://stripe.com/payment-terms/legal) sont d’application pour toute transaction réalisée sur la plateforme Ticked-it.
        </p>

        <h3>Section 9 : Promotion sur et en dehors du site</h3>
        <p>De nombreux liens hypertextes sortants sont présents sur le site. De même de nombreux site renvoient vers la plateforme Ticked-it. Cependant, les pages web sur lesquelles aboutissent ces liens, où les pages web d’orgine, n'engagent en rien la responsabilité de Ticked-it qui n'a pas le contrôle de ces liens.
        </p>
        <p> L'Utilisateur s'interdit donc à engager la responsabilité de Ticked-it concernant le contenu et les ressources relatives à ces liens hypertextes.
        </p>

        <h3>Section 10 : Propriété intellectuelle</h3>
        <p>Le site et tous ses éléments constitutifs, en ce compris les textes, logos, signes distinctifs, code et lignes de code, base de données liés au site et/ou à Ticked-it sont protégés par différents droits de propriété intellectuelle (et, en particulier, par le droit d’auteur).
        </p>
        <p>Les Utilisateurs ne se voient attribuer aucune licence sur et/ou en lien avec le site et ses éléments constitutifs, lesquels site et éléments constitutifs ne peuvent donc notamment pas être copiés, extraits, reproduits, communiqués au public, réutilisés d’une quelconque façon (que ce soit en tout ou en partie) par les Utilisateurs sauf autorisation expresse, écrite et préalable obtenue par l’Utilisateur. Toute violation de la propriété intellectuelle liée au site et/ou à Ticked-it et toute infraction à la présente disposition pourra faire l’objet de poursuites et d’actions judiciaires.
        </p>
        <p>L’Utilisateur reste titulaire de l’intégralité de ses droits de propriété intellectuelle (c’est-à-dire : des droits de propriété intellectuelle sur le contenu qui lui appartient). Mais lorsque l’Utilisateur décide de mettre en ligne du contenu sur le site, il concède à titre gratuit à Ticked-it le droit non-exclusif d’utiliser, représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour toute la durée des droits de propriété intellectuelle.
        </p>
        <p>Ticked-it s'engage à faire figurer le nom de l’Utilisateur à proximité de chaque utilisation ou réutilisation de sa publication.
        </p>
        <p>L’Utilisateur s’engage à respecter les droits de propriété intellectuelle appartenant à des tiers et à ne pas mettre en ligne sur le site des contenus violant ces droits appartenant à des tiers (en particulier : les droits d’auteur des tiers).
        </p>

        <h3>Section 11 : Responsabilité et force majeure</h3>
        <p>
            Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité de Ticked-it.
            Plus largement, la responsabilité de Ticked-it ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
        </p>
    </div>

    <div id="cgv" class="container">
        <h2>Conditions générales de vente</h2>

        <p>L'ACHETEUR RECONNAÎT FORMELLEMENT AVOIR PRIS CONNAISSANCE ET ACCEPTER LES CONDITIONS GÉNÉRALES DE VENTE REPRISES CI-DESSOUS AVANT DE FINALISER L'ACHAT DE BILLETS. L’ACHETEUR EST ÉGALEMENT CONSCIENT DE L’ARTICLE 5 DES PRÉSENTES CONDITIONS GÉNÉRALES DE VENTE ET L’INAPPLICATION DU DROIT DE RÉTRACTATION.
        </p>


        <h3>ARTICLE 1 : APPLICATION DES CONDITIONS GÉNÉRALES</h3>
        <p>Les présentes conditions générales de vente (ci-après les Conditions) régissent de façon exclusive les relations entre Ticked-it ASBL, dont le siège social est situé sis 3, Place Saint-Antoine à 1040 Bruxelles, Belgique et enregistrée sous le numéro d’entreprise BCE 0664.782.372, et toute personne s’apprêtant à commander ou détenant ou ayant acquis un titre d’entrée pour un Evénement ou un Concert, par l’intermédiaire de la plateforme Ticked-it (ci-après « l’Acheteur »).
        </p>
        <p>Pour commander un billet en ligne, il convient de passer par la plate-forme www.ticked-it.be et d’accepter les Conditions Générales d’Utilisation. Lesdites Conditions d’Utilisation peuvent être consultées et/ou imprimées à tout moment à l’adresse suivante : https://www.ticked-it.be/conditons ou en cliquant sur l’onglet « conditions générales d’utilisation » présent sur chaque page du site web.
        </p>
        <p>Ces Conditions Générales d’Utilisation font partie intégrante de la convention entre Ticked-it et l’Acheteur et s’appliquent à l’exclusion de toutes autres conditions ou clauses dérogatoires notamment, mais pas exclusivement, à l’exclusion de toute communication écrite ou négociation antérieures, ainsi que toutes clauses ou conditions générales de l’Acheteur même si celles-ci prévoient qu’elles sont seules valables. Des conditions particulières, écrites et préalables divergentes, seront uniquement admises à titre exceptionnel après le consentement exprès et écrit de Ticked-it (c’est-à-dire se référant expressément aux présentes Conditions). Par l’achat ou la détention d’un titre d’entrée, l’Acheteur déclare avoir lu, compris et accepté sans réserve ces Conditions et marqué son accord sur le traitement de ses données.
        </p>
        <p>Ces Conditions pouvant faire l’objet de modifications, les conditions applicables à la vente sont celles en vigueur sur le site https://www.ticked-it.be à la date de l’achat du titre d’entrée. Ticked-it se réserve le droit, à sa seule discrétion, de modifier et de mettre à jour à tout moment, sans préavis, les Conditions.
        </p>
        <p>La nullité, la caducité, le caractère non exécutoire ou la non-conformité de l’une des dispositions des Conditions avec les dispositions légales ou règlementaires en vigueur, n’affectera pas la validité des autres dispositions des Conditions qui conserveront leur pleine force légale. La disposition entièrement ou partiellement nulle, caduque, non exécutoire ou écartée dans ce contexte, sera réputée non écrite et sera remplacée ou considérée comme avoir été remplacée par une disposition similaire conforme à la législation et qui réalisera, dans la mesure du possible, la même fonction.
        </p>

        <h3>ARTICLE 2 : PRIX</h3>
        <p>Les prix des titres d’entrée sont indiqués en euros et s’entendent taxes et TVA comprises, sauf indication contraire.
        </p>
        <p>Le prix du ticket comprend les frais administratifs et tous les frais fixes de fonctionnement de Ticked-it, ainsi que ceux de l’Organisateur.
        </p>
        <p>Ticked-it et/ou l’Organisateur se réservent le droit de modifier ses prix à tout moment. Le cas échéant, les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes.
        </p>

        <h3>ARTICLE 3 : CONDITIONS D’ACHAT DES TITRES D’ENTREE</h3>
        <p>L'achat de tickets est exclusivement réservé aux personnes âgées de plus de 18 ans qui sont en possession d’une carte de crédit/débit valide émise à leur nom. Toutefois, l’accès aux Concerts organisés par un Organisateur n’est pas soumis à cette restriction liée à l’âge. Les Concerts Ticked-it sont ouverts à tout public, sauf exclusion précisée dans le règlement d’ordre intérieur d’une salle partenaires.
        </p>
        <p>Les titres d’entrée, vendus par l’intermédiaire de la plateforme Ticked-it, ne peuvent être obtenus qu’en remplissant le formulaire d’achat en ligne disponible sur le site https://www.ticked-it.be, et ceci dans la mesure des tickets encore disponibles.
        </p>
        <p>Ticked-it se réserve le droit, à sa discrétion, de rejeter toute demande d’achat pour toute raison qu’elle juge opportune et de requérir à tout moment une preuve de l’identité de l’Acheteur. Ticked-it se réserve également le droit de refuser la vente du billet à des Acheteurs soupçonnés d’acheter les billets dans le simple but de les revendre.
        </p>

        <h3>ARTICLE 4 : COMMANDE ET PAIEMENT</h3>
        <p>La personne physique ou morale qui effectue le paiement est considérée comme commettant ; elle se porte garante de la commande, même si la facture doit être établie et envoyée à un tiers.
        </p>
        <p>Un seul paiement est autorisé par commande. Les réservations de billets de spectacles s'effectuent en temps réel. Dans ce cadre, notre serveur vous informe en temps réel sur la disponibilité des billets au moment de la passation de votre commande.
        </p>
        <p>Ticked-it se réserve le droit de ne pas honorer une réservation si le moyen de paiement utilisé a donné lieu, dans le passé, à des transactions frauduleuses ou si les données personnelles complétées indiquent (ou tendent à indiquer) une fraude.  Dans ces cas, Ticked-it pourra récupérer les frais concernant l'étude du caractère frauduleux de la réservation ainsi que les dommages réellement subis auprès et à charge de la personne ayant effectué la commande.
        </p>
        <p>Le paiement sera effectué conformément au choix de l’Acheteur entre les méthodes de paiement proposées dans la procédure de commande en ligne. Les méthodes de paiement proposées sont le paiement par carte de crédit (cartes Visa ou MasterCard) ou cartes de type Bancontact/MisterCash et Maestro. Les paiements sont sécurisés par Stripe.
        </p>
        <p>Dans le cadre de la lutte anti-fraude, est utilisé le paiement 3 D Secure, système de paiement par authentification. Ce service est gratuit et peut se déclencher pour vos paiements par Bancontact, Visa et MasterCard. Avec le 3D Secure (ou Verified by visa ou MasterCard SecureCode), votre banque vérifie au moment du paiement votre identité. Le procédé d'identification étant spécifique à chaque banque, veuillez vous renseigner auprès de votre banque sur le procédé d'authentification utilisé.
        </p>
        <p>Quelle que soit la méthode de paiement choisie par l’Acheteur, le montant total de la transaction (prix d’achat des titres d’entrée et éventuels frais administratifs, de traitement ou de livraison) est immédiatement prélevé et la vente ne sera effective et les titres d’entrées délivrés qu’après réception du paiement par Ticked-it endéans le délai de paiement.
        </p>

        <h3>ARTICLE 5 : VENTE SOUS CONDITION RESOLUTOIRE</h3>
        <p>Dans le cas où l’Organisateur a déterminé un nombre minimal de titres d’entrée nécessaire à la validation et un Délai de confirmation, si le nombre total de titres d’entrée vendus pour l’Evénement convoité par l’Acheteur est inférieur au nombre minimal de titres d’entrée nécessaire à la validation dudit Evénement, et ce une fois le Délai de confirmation dépassé, alors la vente sera considérée comme caduque et les titres d’entrée déjà achetés seront remboursés à l’Acheteur dans leur intégralité.
        </p>
        <p>Les remboursements, une fois communiqués aux Acheteurs, seront effectués dans les 30 jours calendrier.
        </p>
        <p>Le nombre minimal de titres d’entrée nécessaire à la validation d’un Evénement est fixé par l’Organisateur et est précisé lors de l’achat du titre d’entrée et reste inchangé pour chaque Campagne de vente.
        </p>
        <p>Votre commande de billets de spectacles n'est définitivement confirmée et n'engage Ticked-it qu'à réception de l'e-mail confirmant que l’Evénement a bien été validé suite au dépassement du nombre minimal de titres d’entrée. En conséquence, nous vous invitions à consulter votre messagerie électronique régulièrement afin de vous tenir informé à cet égard.
        </p>
        <p>L’Acheteur est tenu de remplir une adresse d'e-mail valable et de vérifier les éventuels e-mails provenant de Ticked-it retenus par des filtres antispam. À défaut, l’Acheteur ne peut pas s'adresser à Ticked-it en vue d'obtenir un quelconque dédommagement.
        </p>

        <h3>ARTICLE 6 : ABSENCE DE DROIT DE RETRACTATION</h3>
        <p>Il n’existe pas de droit de rétractation.
        </p>
        <p>Conformément à l’article VI.53, 12° du livre VI du Code de droit économique, l’Acheteur ne dispose pas du droit de rétractation prévu à l’article VI.47 pour la prestation de services liés à des activités de loisir dès lors que le contrat prévoit une date ou une période d’exécution spécifique.
        </p>

        <h3>ARTICLE 7 : ECHANGES ET REMBOURSEMENT</h3>
        <p>Toute commande (i) validée par Ticked-it après la période de confirmation (à savoir : après que le nombre minimal de titres d’entrées visée à l’article 5 a été atteint) et (ii) payée rend la vente ferme et définitive, et toute modification ou annulation impossible (sous réserve du seul article 12 des présentes et des modalités d’échange de billets qu’il prévoit). Les titres d’entrée ne sont dès lors ni échangeables ni remboursables.
        </p>
        <p>En l’absence de validation du Concert par Ticked-it, les remboursements, se font exclusivement par virement bancaire.  Il n’est jamais procédé à un remboursement en cash.
        </p>
        <p>Les billets pourront être remboursés uniquement à l'égard de l’Acheteur et ne peuvent être transmis. À cet effet, les instructions fournies par e-mail par Ticked-it concernant la demande de remboursement doivent être suivies.
        </p>
        <p>Dans tous les cas, seul le prix du billet (tel que défini à l’article 2 des présentes) sera remboursé, aucun frais de quelque nature que ce soit, ne sera remboursé ou dédommagé.
        </p>

        <h3>ARTICLE 7 : DELIVRANCE DES TITRES D’ENTREE</h3>
        <h4>7.1 MODALITES DE DELIVRANCE</h4>
        <p>Une fois le Concert validé, l’Acheteur reçoit un mail de confirmation, reprenant le détail de la commande passée ainsi qu’une version des présentes conditions générales de vente (version applicable au moment de la passation de la commande).
        </p>
        <p>Il reçoit également, au plus tard 10 jours avant le Concert, un email de validation contenant les titres d’entrée achetés en format pdf. L’Acheteur peut imprimer les titres d’entrée à partir de cet email.
        </p>
        <p>Les titres d’entrée non utilisés ou non retirés le jour de Concert ne seront en aucun cas échangés ou remboursés.
        </p>

        <h4>7.2 DEFAUTS DE DELIVRANCE</h4>
        <p>Si l’Acheteur ne reçoit pas d’email de confirmation ou son/ses titre(s) d’entrée(s) dans le mail de validation, il doit avertir Ticked-it par email à l’adresse : gonzague@ticked-it.be, dans les meilleurs délais.
        </p>
        <p>S’il y a une erreur dans les quantités ou spécifications des titres d’entrée délivrés ou si les titres d’entrée sont endommagés, l’Acheteur doit avertir Ticked-it immédiatement et au plus tard dans les 7 jours calendrier de la délivrance des titres d’entrée, par email à l’adresse gonzague@ticked-it.be. A défaut, la réception des titres d’entrée tient lieu d’acceptation des quantités et de la conformité des titres d’entrée achetés. En cas de défaut de délivrance notifié à Ticked-it dans les délais prescrits et après constatation par Ticked-it de ce défaut, Ticked-it procèdera à la rectification de l’erreur ou remplacera les titres d’entrée endommagés. Aucune compensation ou remboursement ne sera effectué.
        </p>
        <p>Ticked-it décline toute responsabilité si les coordonnées (nom, prénom, adresse, adresse email) indiquées par l’Acheteur sont erronées et que de ce fait son titre d’entrée ne peut lui  être délivré ou ne peut lui donner accès au Concert.
        </p>

        <h3>ARTICLE 8 : PERTE, VOL OU DEGRADATION</h3>
        <p>Ticked-it décline toute responsabilité :
        <br>1.	pour les anomalies pouvant survenir en cours de commande ou d'impression du billet imprimable à domicile
        <br>2.	en cas de négligences de l’Acheteur,
        <br>3.	en cas de perte,
        <br>4.	en cas de vol,
        <br>5.	en cas d’utilisation illicite du billet imprimable à domicile.
        </p>
        <p>Il ne sera remis à l’Acheteur aucun duplicata ou certificat, rémission du billet, de quelque nature que ce soit, autre que le seul billet initial imprimable par l’Acheteur.
        </p>
        <p>Afin d'éviter les abus, toute perte ou tout autre problème relatif aux billets doit être notifié à Ticked-it par e-mail (gonzague@Ticked-it.be) au plus tard la veille du Concert.
        </p>

        <h3>ARTICLE 9 : UTILISATION DES TITRES D’ENTREE</h3>
        <p>Le titre d’entrée est uniquement valable pour le lieu, la séance, la date et l’heure précisée sur le billet.  Le billet doit être conservé durant toute la durée de présence sur le lieu de la représentation.
        </p>
        <p>L’entrée est soumise au contrôle de validité du billet.  Il est uniquement valable à la date et aux conditions d’utilisation figurant sur celui-ci. Les titres d’entrée disposent d’un QR code unique qui les identifie et les authentifie.
        </p>
        <p>Chaque titre d’entrée ne pourra être utilisé qu’une seule fois et ne donnera lieu qu’à un seul accès au Concert. L’accès au Concert se fera moyennant le scan des titres d’entrée, ou via un listing papier. Les versions imprimées des e-tickets et les supports smartphone sont acceptés comme titre d'entrée, l’important étant la lisibilité du QR code de l’e-ticket. Pour être valide, votre billet doit être imprimé en mode portrait, sur une feuille A4 blanche, vierge recto et verso. A chaque place achetée correspond un billet. Si le même QR code est présenté plusieurs fois, seule la première personne à présenter le billet sera admise à assister à la manifestation. Elle est présumée être le porteur légitime du billet.
        </p><p>C'est pourquoi il est interdit de reproduire, dupliquer ou contrefaire le billet d'une quelconque manière, ou de le mettre à disposition à de telles fins. Conservez votre billet en lieu sûr. Utilisez exclusivement un circuit de vente officiel pour acheter votre billet. N'acceptez jamais un billet qui vous est proposé par un inconnu, car il pourrait s'agir d'une copie.
        <p>L’Organisateur se réserve le droit de refuser l’entrée au Concert à toute personne ne disposant pas d’un titre d’entrée obtenu moyennant les canaux de vente officiels décrits ci-dessus. L'Organisateur n'est cependant pas obligé de procéder à une vérification de l'identité de la personne présentant le billet imprimable à domicile afin de vérifier qu'il s'agit bien de l'Acheteur de billets, ni de vérifier l'authenticité du billet imprimable à domicile dans la mesure où l'imitation ou la copie ne peut être identifiée de manière indubitable en tant que telle lors du contrôle d'entrée à la manifestation. Si le détenteur d'un billet imprimable à domicile est refoulé pour cette raison lors d'un contrôle d'accès, il n'existe aucun droit à remboursement du prix acquitté ou à dédommagement.
        </p>

        <h3>ARTICLE 10 : COMMUNICATION A DES TIERS</h3>
        <p>L’Acheteur du titre d’entrée doit s'en tenir à la loi du 30 juillet 2013 relative à la revente de titres d’accès à des événements, publiée au Moniteur belge le 6 septembre 2013. Cette loi interdit les pratiques suivantes (article 5) :
        <br>-	la revente de tickets de manière habituelle
        <br>-	le fait d'exposer en vue de la revente de manière habituelle
        <br>-	le fait de fournir des moyens qui seront utilisés pour une revente de manière habituelle
        <br>-	la revente de manière occasionnelle à un prix supérieur au prix d'entrée mentionné
        <br>-	la vente d'un titre d'accès privilégié ou promotionnel qui n'a pas fait l'objet d'une vente initiale
        <br>-	la revente avant le début de la vente initiale.
        </p>
        <p>Les titres d’entrée sont réservés à une utilisation privée et ne peuvent en aucun cas être revendus à des tiers à titre commercial ou à un prix différent du prix de vente officiel. L’Acheteur initial qui cède les titres d’entrées obtenus auprès de Ticked-it s’engage à communiquer préalablement aux personnes à qui il cède les titres d’entrée les Conditions et il se porte fort de leur acceptation par ces personnes. Les billets restent toujours établis au nom de l’Acheteur initial, même en cas de revente (occasionnelle) et Ticked-it n’est tenue par les présentes conditions générales qu'à l'égard de la personne enregistrée qui a effectué la commande des billets et qui est reconnue par Ticked-it.
        </p>

        <h3>ARTICLE 11 : MODIFICATIONS</h3>
        <p>Les mentions sur les billets ne peuvent pas être modifiées. Les titulaires de billets modifiés pourront se voir refuser l'accès.
        </p><p>Les billets resteront toujours libellés au nom de la personne qui les a initialement commandés. Le nom de l’acquéreur du billet ne peut donc pas être modifié par celui d'un éventuel tiers, même pas en cas de revente (occasionnelle).
        </p>

        <h3>ARTICLE 12 : ANNULATION ET FORCE MAJEURE</h3>

        <p>En cas d’annulation de Concert après réception du mail de validation ou en cas de force majeure, l’Organisateur de l’événement définira les modalités de compensation.
        </p>

        <h3>ARTICLE 13 : PROPRIETE INTELLECTUELLE</h3>
        <p>Les produits proposés, tels que les billets et le merchandising, restent la propriété exclusive de la propriété de l’Organisateur, tant sur le plan intellectuel que matériel. Par conséquent, toute reproduction ou contrefaçon, sous quelque forme que ce soit et par quelque procédé que ce soit, est strictement interdite.
        </p><p>Sauf accord écrit de l'organisateur, toute utilisation commerciale du nom ou du logo de l'Evénement ou de l'artiste est strictement interdite.
        </p>

        <h3>ARTICLE 14 : SECURISATION DES DONNEES PERSONNELLES</h3>
        <p>Conformément aux dispositions légales, Ticked-it a la possibilité d'enregistrer votre adresse et vos coordonnées dans la base de données de la plateforme Ticked-it pour améliorer la gestion de votre commande et permettre le traitement de votre commande. Vous conservez un droit de regard et de modification quant à ces données personnelles.
        </p>
        <p>Les données personnelles que vous aurez transmises seront également conservées à des fins de contrôle, afin de lutter contre la revente de billets à des prix excessifs. Ces contrôles sont effectués pour vérifier si des Acheteurs proposent un ou plusieurs tickets à des prix excessifs.
        </p>
        <p>Les données relatives au paiement sont traitées par Stripe. Dès lors, les Conditions Générale d’Utilisation de Stripe (https://stripe.com/be/privacy) ainsi que les modalités encadrant les payements effectués via Stripe (https://stripe.com/payment-terms/legal) sont d’application.
        </p>
        <p>Sauf accord exprès de votre part au moment de la confirmation de la commande, vos données personnelles ne peuvent être transférées ou rendues accessibles aux tiers sauf à certains prestataires comme Stripe aux fins du paiement visé au point précédent et à l’hébergeur du site et des bases de données de Ticked-it, aux fins visées dans les Conditions Générales d’Utilisation, à savoir essentiellement le fonctionnement du site web et des services proposés en ligne par Ticked-it.
        </p>


        <h3>ARTICLE 15 : RÔLE ET RESPONSABILITE DE TICKED-IT</h3>
        <p>Ticked-it agit comme courtier en se contentant d’encaisser l’argent pour compte de tiers. Il incombe à l’Organisateur d’assurer la bonne Organisation de l’Evénement pour lequel les tickets sont mis en vente sur la plate-forme.
        </p>
        <p>Ticked-it agit au nom et pour le compte du fournisseur/producteur. Ticked-it n’assume pas le risque de mévente y compris dans le quota de place qui lui est réservé.
        </p>
        <p>En cas de problème lié à l’organisation de l’Evénement, l’Acheteur contactera l’Organisateur.
        </p>

        <h3>ARTICLE 16 : RECLAMATION OU LITIGE</h3>
        <p>En cas de litiges, seuls les juridictions francophones de l'arrondissement de Bruxelles sont compétentes et le droit belge est d'application.
        </p>
        <p>Ticked-it attire l'attention sur l'existence de la plate-forme européenne Online Dispute Resolution (ODR)   ec.europa.eu/odr/. Cette plate-forme a pour ambition de trancher les litiges intégralement en ligne, après l'introduction d'un formulaire de réclamation électronique.
        </p>

        <h3>ARTICLE 17 : CONTACT</h3>
        <p>Pendant les heures de bureau, vous pouvez nous joindre au numéro 0497/21.26.54 ou nous contacter par e-mail à pierre@Ticked-it.be.
        </p>
    </div>

{% endblock %}