{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block headtitle %}Inscription | Un-Mute{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'title': 'Plus qu\'une étape !', 'img': 'inscription.jpg'} %}
{% endblock %}

{% block fos_user_content %}
    <div class="container p-4">
        <div class="content-box">
            <div class="content-box-content row mt-3">
                <div class="col-12 col-md-8 my-auto">
                    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                </div>
                <div class="d-none d-md-block col-md-4">
                    <img class="img-fluid um-icon" src="{{ asset('images/icons/producer.png') }}" />
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
