{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <h3 class="rounded-title">Bienvenue sur Un-Mute</h3>
        {% if app.user %}
            <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.firstname}) }}</p>
        {% else %}
            <p class="text-center">Vous avez bien vérifié votre compte. Bienvenue chez Un-Mute !</p>
        {% endif %}

        {% if targetUrl %}
            <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    </div>
{% endblock fos_user_content %}
