{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">

        <h3 class="mb-3 text-center">{{ 'registration.title'|trans|raw }}</h3>

       {% include 'FOSUserBundle:Registration:register_content.html.twig' %}

{% endblock fos_user_content %}
