{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{{ subject }}{% endblock %}
        {% block content %}
            <p>
                Hello {{ user.username }} !

                You can reset your password by accessing {{ confirmationUrl }}

                Greetings,
                the Un-Mute Team
            </p>
        {% endblock %}
    {% endspaceless %}
{% endautoescape %}
