{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{# TODO this #}{% endblock %}

        {% block content %}
            {% set confirmationUrl = email_link(confirmationUrl) %}
                <p>
                {{ 'registration.email.message'|trans({'%username%': user.firstname, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle')|raw|nl2br }}
                </p>
        {% endblock %}
    {% endspaceless %}
{% endautoescape %}