{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{# TODO this #}{% endblock %}

        {% block content %}
                <span {{ salutationStyle }}>Hello,</span>

                <p>
                {{ 'registration.email.message'|trans({'%username%': user.firstname, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle')|nl2br }}
                </p>
        {% endblock %}
    {% endspaceless %}
{% endautoescape %}