{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{{ subject }}{% endblock %}
        {% block content %}
            <div>
                <p>{{ email_content('reward_attribution.content',{
                        '%reward_name%': reward.name,
                        '%content%': content,
                        '%rewards_url%' :  path('user_rewards')
                    })|trans|raw|nl2br }}</p>
            </div>
        {% endblock %}
    {% endspaceless %}
{% endautoescape %}