{% set active_link = 'password' %}

{% extends "FOSUserBundle:Profile:layout.html.twig" %}

{% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

{% block user_profile_content %}
    <h3>Changer mon mot de passe</h3>
    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock %}