{% set active_link = 'password' %}

{% extends "AppBundle:User/Profile:layout.html.twig" %}

{% form_theme form ':Form:bootstrap_4_layout.html.twig' %}

{% block user_profile_content %}
    <div class="profile-table-info">
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </div>
{% endblock %}