{% extends 'sonata_admin_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="content-box">
        <div class="content-box-content">
            <h2>Validation de la mise vente d'un article</h2>

            <p class="alert alert-warning">
                Attention, cette action enverra un mail aux gestionnaires du projet pour les prévenir que la mise en vente de l'article a été validé.
            </p>

            <div>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}