{% extends 'sonata_admin_layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="content-box">
        <div class="content-box-content">
            <h2>Validation d'un projet</h2>
            <p><a href="{{ path('x_project', {'id':project.id, 'slug': project.slug}) }}">Voir les détails du projet tel qu'il sera visible sur la plateforme Chapots.</a></p>

            <p class="alert alert-warning">
                Attention, cette action enverra un mail aux gestionnaires du projet pour les prévenir qu'il a été validé.
            </p>

            <div>
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}