{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% block field_value %}
        {% if object.products|length > 0 %}
            <ul>
            {% for product in object.products %}
                <li><a href="{{ path('admin_x_product_show', {'id': product.id}) }}">{{ product }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
{% endblock %}