body {
  padding-right: 0 !important;
  overflow-x: hidden !important;
}

.bg-body, body {
  background-color: $main-background;
}

main {
  padding-top: 50px;
  padding-bottom: 70px;
}

.noscript-warning {
  width: 100%;
  background: black;
  color: white;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  position: fixed;
  z-index: 9999;
}

.container-large-margins {
  margin: auto 20%;
}

.dz-image img { width: 100%;  }

.danger-color {
  color: $danger-color !important;
}

.btn {
  cursor: pointer;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 80% !important;
}

.container-fluid {
  @extend .p-5;
}

