body {
  padding-right: 0 !important;
  overflow-x: hidden !important;
  font-family:$font;
  font-weight: 400;
}

.bg-body, body {
  background-color: $main-background;
}

.bg-body-strong {
  background-color: $main-background-strong;
}

main {
  padding-top: 50px;
  padding-bottom: 40px;
}

.noscript-warning {
  width: 100%;
  background: black;
  color: white;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  position: fixed;
  z-index: 9999;
}

.dz-image img { width: 100%;  }

.danger-color {
  color: $danger-color !important;
}

.btn {
  cursor: pointer;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: 80% !important;
}

.container-fluid {
  @extend .p-3;
  @extend .p-md-4;
  @extend .p-lg-5;
}

@include media-breakpoint-up(md) {
  .container-large-margins {
    margin: auto 20%;
  }
}

.um-light {
  font-weight:300;
}

.um-semi-bold, strong {
  font-weight: 600;
}

.min-width-auto {
  min-width: initial !important;
}