html {
  overflow-x: hidden;
}
body {
  padding-right: 0 !important;
  font-family: $font;
  overflow-x: hidden !important;
  font-weight: 400;
}

main {
  @extend .pt-3, .pt-md-4;
  position: relative;
  padding-bottom: 40px;
}

.bg-body, body {
  background-color: $main-background;
}

.bg-body-strong {
  background-color: $main-background-strong;
}

.bg-body-very-strong {
  background-color: $main-background-very-strong;
}

.bg-body-light {
  background-color: $main-background-light;
}

.container-fluid-med-pad {
  @extend .container-fluid;
  @extend .p-4, .p-sm-4, .p-md-4, .p-lg-4, .p-xl-4;
}

.noscript-warning {
  width: 100%;
  background: black;
  color: white;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
  position: fixed;
  z-index: 9999;
}

.dz-image img { width: 100%;  }

.danger-color {
  color: $danger-color !important;
}

.btn {
  cursor: pointer;
}

.big {
  font-size: 1.2em !important;
}

.small {
  font-size: 80% !important;
}

.container-fluid {
  @extend .p-3;
  @extend .p-md-4;
  @extend .p-lg-5;
}

@include media-breakpoint-up(md) {
  .container-large-margins {
    margin: auto 20%;
  }
}

.um-light {
  font-weight:300;
}

.um-semi-bold, strong {
  font-weight: 600;
}

.min-width-auto {
  min-width: initial !important;
}

.bg-left {
  background-position: left !important;
}

.word-break-all {
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

/* For Safari compatibility */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after{
  display: inline-block;
}