.counterpart-label {
  font-weight: bold;
  font-size: 1.2em;
}

.counterpart-price {
  font-size: 1.4em;
}

.counterpart-form {
  background: white;
}

.counterparts-header {
  background-color: #ffcd72;
}

.contract-info
{
  &-content {
    font-size: 1.3em;
    @extend .um-light;
  }

  &-title {
    text-align:center;
    @extend .small;
    @extend .um-label;
    @extend .um-semi-bold;
  }
}


.free-price-euro-sign {
  top: 6px;
  right: 10px;
}

@include media-breakpoint-down(lg) {

  .quantity-left-minus, .quantity-right-plus {
    padding: 1px 6px;
  }

  .quantity {
    padding: 0.25rem;
  }

}