#artist-profile-photos-carousel {
  border-bottom: none !important;
  height: 200px;
  z-index: 500;

  .artist-profile-carousel-photo {
    background-color: $secondary-background;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@include media-breakpoint-up(md) {
  #artist-profile-photos-carousel {
    height: 300px;
  }
}

@include media-breakpoint-up(lg) {
  #artist-profile-photos-carousel {
    height: 350px;
  }
}

.artist-profile-title {
  min-width: 50%;
  max-width: 80%;
  min-height: 70px;
  background-color: $main-background;
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  & h3{
    z-index: inherit;
    background-color: inherit;
    color: $main-color;
    text-transform: uppercase;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 20px;
  }
}

.embed-container {
  position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}