.p-info {
  background-color: #6087e1;
  padding: 10px;

  a {
      color: $main-yellow;
  }

  @extend .px-3;
  @extend .px-md-5;

  @extend .rounded;
  @extend .text-white, .text-center;
}

.p-promo {
  background-color: rgba(253, 248, 98, 0.21);
  color: #000000;
  padding: 10px;

  @extend .rounded;
  @extend .px-3;
  @extend .px-md-5;
  @extend .text-center;
}

.green-check {
  max-height: 20px;
}
.text-positive {
  color: $positive-color;
}

.alert-dismissable {
  @extend .pr-5;
}

.loader-explanation {
  @extend .alert-warning;
  @extend .p-3;
  @extend .text-center;
}