.modal-backdrop {
  z-index: 1020;
}

.modal-content {
  border-radius: 0 !important;
}

.modal-header {
  border-bottom: none !important;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 300px;
}

.modal-footer {
  border-top: none !important;
}

.modal-reward-label {
  background-color: #ffb84d;
}

.modal-title {
  min-width: 50%;
  max-width: 80%;
  min-height: 70px;
  background-color: $main-background;
  margin: 0 auto;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;

  & h3 {
    color: $main-color;
    text-transform: uppercase;
  }
}

// every section inside a modal. 1 title -> line around and the rest of the section, border black
.modal-section {
  &-header {
    height: 100px;
    position: relative;
    &-title {
      color: black;
      text-transform: uppercase;
      background-color: white;
      min-width: 35%;
      max-width: 50%;
      margin: 0 auto;
      text-align: center;
      height: 50px;
      margin-top: -25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-line {
      margin: 0 auto;
      width: 80%;
      border-bottom: black solid 1px;
      margin-top: 20px;
      background-color: transparent;
      height: 50px;
    }
  }
  &-content {
    margin: 0 auto;
    border: black 1px solid;
    max-width: 90%;
    padding: 15px;
  }
}


.modal-confirm {
  color: #434e65;
  width: 525px;
}
.modal-confirm .modal-confirm-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirm .modal-confirm-header {
  background: #47c9a2;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirm .form-control, .modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirm .close:hover {
  opacity: 0.8;
}
.modal-confirm .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  @extend .mx-auto;
  z-index: 9;
  padding: 15px;
  text-align: center;
}
.modal-confirm .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
  background: #eda645;
  outline: none;
}
.modal-confirm .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-confirm .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}