{% extends "AppBundle:Bases:base_artist.html.twig" %}

{% block body %}

    <h1>Edition du profil de l'artiste {{ artist.artistname }}</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}


{% endblock  %}