{% extends "base.html.twig" %}

{% block body %}

    <h1>Viser un palier</h1>
    <p>Vous vous apprêtez à lancer un crowdfunding pour le palier suivant :</p>

    {% include "AppBundle:Entity:step.html.twig" with {'step': contract.step} %}

    <p>En validant le formulaire suivant, vous vous engagez à lire et respecter les <a href="{{ path('conditions') }}">conditions générales</a>.</p>

    {{ form(form) }}

    Date de fin du contrat : {{ contract.theoriticalDeadline|date('d/m') }}

{% endblock %}