{% extends "base.html.twig" %}

{% block body %}
    {% if request.cancelled %}
        <p>Cette requête a été annulée par son émetteur.</p>
    {% else %}
        {{ form(form) }}
    {% endif %}
{% endblock %}
