{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{{ subject }}{% endblock %}

        {% block content %}
            {{ email_content('order', {
                '%url%': email_link(absolute_url(path('homepage')), 'Un-Mute'),
            })|raw }}

            {% if motivations is not empty %}
                <p>{{ 'others.message_from_artist'|trans({}, 'emails') }}</p>
                {# Todo translate motivations ? #}
                <blockquote>{{ motivations }}</blockquote>
            {% endif %}

        {% endblock %}
    {% endspaceless %}
{% endautoescape %}