.x-card {
    color: white;
    position: relative;
  
    &-header {
      position: relative;
      height: 12rem;
      background-size: cover !important;
      background-position: center;
    }
  
    &-date {
      position: absolute;
      top: 20px;
      left: 0;
    }
  
    &-progress {
      position:relative;
      border-radius: initial;
      
      .progress-bar {
        &-percent {
          position: absolute;
          left: 4px;
        }
      }
    }
  
    &-span {
      position: absolute;
      bottom: 0;
    }
    &-content {
      @extend .pt-3;
      @extend .pb-2;
      @extend .px-1;
      @extend .px-lg-3;
  
      text-align: left;
      background-color: transparent;
  
      span {
        height: 20px;
        position: absolute;
        bottom: calc(100% - 10px);
        left: 0;
        right: 0;
        // background-color: transparent;
        text-align: center;
      }
  
      h5 {
        font-weight: bold;
        color: rgba(45, 44, 44, 1);
      }
  
      p {
        color: rgba(99, 99, 99, 1);
        font-size: 12px;
      }
    }
  
    &-link {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      z-index: 999;
      background: black;
      opacity: 0;
  
  
      &:hover {
        opacity: 0.1;
      }
    }
  }

.project-artistname {
    position: absolute;
    bottom: 0;
    background: white;
    color: $dark-orange;
    font-size: 13px;
    font-weight: bold;
    width: auto;
    padding: 7px;
}

.project-state {
  position: absolute;
  bottom: 0;
  background: white;
  color: green;
  font-size: 13px;
  font-weight: bold;
  width: auto;
  padding: 7px;
  right: 0;
}