.product-row {
    @extend .my-3, .p-3;
}

.collection-actions {
    @extend .w-100;
    @extend .position-relative;

    .collection-remove {
        @extend .position-absolute;
        right:0;
    }
}

.product-section {
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 120px;
        height: 120px;
    }
}