{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="row">
        <div class="col-12 col-md-6 my-auto form-row form-group">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div class="col-12 col-md-6 my-auto form-row form-group pl-4 text-center">
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>
