#about {
  background: rgb(247, 203, 162);
  background: -webkit-linear-gradient(to right, rgba(232, 151, 79, 0.62), rgba(232, 102, 56, 0.2));
  background: linear-gradient(to right, rgba(232, 151, 79, 0.62), rgba(232, 102, 56, 0.2));
}