.showcase {
  .showcase-text {
    padding: 3rem;
    @include media-breakpoint-up(md) {
      padding: 7rem;
    }
  }

  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
}

.home-icon {
  max-width: 100px;
}

#services-step-1 {
  background: -webkit-linear-gradient(to left, rgba(102, 173, 97, 0.63), rgba(102, 173, 97, 0.35));
  background: linear-gradient(to left, rgba(102, 173, 97, 0.63), rgba(102, 173, 97, 0.35));
  .showcase-img {
    background-image: url('images/illustration-event.jpg');
  }
}

#services-step-3 {
  background: -webkit-linear-gradient(to right, rgba(251, 208, 96, 0.75), rgba(251, 208, 96, 0.35));
  background: linear-gradient(to right, rgba(251, 208, 96, 0.75), rgba(251, 208, 96, 0.35));

  .showcase-img {
    background-image: url('images/step-3.jpg');
  }
}