<div class="progress mx-auto" data-value='{{ progress_100 }}'>
                                    <span class="progress-left">
                                        <span class="progress-bar border-primary"></span>
                                    </span>
    <span class="progress-right">
                                        <span class="progress-bar border-primary"></span>
                                    </span>
    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
        <div class="h2 font-weight-bold">{{ progress_100 }}<sup class="small">%</sup></div>
    </div>
</div>