{% extends "base.html.twig" %}

{% block body %}
    <a href="{{ path('user_artist_registration') }}">Inscription artiste</a> |
    <a href="{{ path('user_fan_registration') }}">Inscription fan</a>
{% endblock %}