{% extends "AppBundle:Notifications:base.html.twig" %}

{% set title = 'Concert annulé' %}
{%- set content -%}
    <p>Vous n’avez pas réussi à obtenir le soutien de suffisamment de producteurs pour permettre l’organisation d’un concert.</p>
    <p>Envie de retenter votre chance ? Rendez-vous sur votre espace personnel et choisissez un autre événement !</p>
    <p>À bientôt,</p>
    <p>L’équipe Un-Mute</p>
{%- endset -%}