{% extends "AppBundle:Notifications:base.html.twig" %}

{% set title = 'Votre panier' %}
{%- set content -%}
    <p>
        Vous n'avez pas complété vos achats lors de votre dernière visite. Des éléments dans votre panier pourraient permettre d'aider l'un ou l'autre artiste, n'attendez plus !<
    </p>
{%- endset -%}