{% extends "AppBundle:Notifications:base.html.twig" %}

{% set title = 'Rappel : votre concert à venir' %}
{%- set content -%}
    <p>
        Il ne reste plus que {{ places }} places à vendre pour que votre {{ step }} du {{ date }} soit confirmé !

        À partir d'aujourd'hui, vous avez encore {{ nbDays }} jours pour relancer vos fans via vos canaux de communication.

        De notre côté, nous prévoyons de promouvoir votre évènement dans les prochains jours via nos propres moyens.
    </p>
{%- endset -%}