{% extends "AppBundle:Notifications:base.html.twig" %}

{% set title = 'Votre concert va être organisé !' %}
{%- set content -%}
    <p>
        Félicitations, le concert de {{ contract.artist.artistName }} a atteint suffisamment de fans pour être produit !
    </p>
{%- endset -%}