{% macro sales_recap_row(project, product) %}
    <ul>
        {% for combo in product.combinationOptions %}
            {% set nb = project.getNbPerChoice(product, combo) %}
            {% if nb > 0 %}
                <li><b>{{ nb }}</b> {{ product.stringCombo(combo) }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}