#about {
  background: rgb(247, 203, 162);
  background: -webkit-linear-gradient(to right, #e36437, rgba(251, 208, 96, 0.35));
  background: linear-gradient(to right, #e36437, rgba(251, 208, 96, 0.35));
}