header.masthead {
  height: 100vh;
  position: relative;
  background-color: #343a40;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;

  &.campaign-masthead {
    background-image: none;
    height: auto;
    max-height: 100vh;
  }

  .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }

  h1 {
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) {
    padding-top: 18rem;
    padding-bottom: 12rem;

    h1 {
      font-size: 3rem;
    }

  }
}