.showcase {
  .showcase-text {
    padding: 3rem;
    @include media-breakpoint-up(md) {
      padding: 7rem;
    }
  }

  .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
}

.features-icons {
  .features-icons-item {
    max-width: 20rem;

    .features-icons-icon {
      height: 7rem;

      i {
        font-size: 4.5rem;
      }
    }

    &:hover {
      .features-icons-icon i {
        font-size: 5rem;
      }
    }
  }
}

#services-step-1 {
  background: -webkit-linear-gradient(to left, #ea900c, rgba(255, 193, 7, 0.35));
  background: linear-gradient(to left, #ea900c, rgba(255, 193, 7, 0.35));
  .showcase-img {
    background-image: url('images/illustration-event.jpg');
  }
}

#services-step-2 {
  background: -webkit-linear-gradient(to right, #ea900c, rgba(255, 193, 7, 0.35));
  background: linear-gradient(to right, #ea900c, rgba(255, 193, 7, 0.35));
  .showcase-img {
    background-image: url('images/illustration-guitar.jpg');
  }
}

#services-step-3 {
  background: -webkit-linear-gradient(to left, #ea900c, rgba(255, 193, 7, 0.35));
  background: linear-gradient(to left, #ea900c, rgba(255, 193, 7, 0.35));
  .showcase-img {
    background-image: url('images/step-3.jpg');
  }
}