{% extends "XBundle::base.html.twig" %}

{% block body %}

    {% import '@X/Macros/projects.html.twig' as macros %}

    <section class="container px-0 mt-4">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="{{ path('x_artist_dashboard') }}">Tableau de bord</a>
            <span class="breadcrumb-item active">Projets passés</span>
        </nav>
    </section>

    <section class="container my-4 py-2 my-md-4">
        {% for project in projects %}
            {{ macros.project_row(project)}}
        {% else %}
            <p>Vous n'avez pas encore lancé de projet qui soit arrivé à terme.</p>
        {% endfor %}
    </section>
{% endblock %}
