{% spaceless %}
    {% if (errors is defined and errors|length > 0) or (form is defined and not form.vars.valid) %}
        <div id="errors">
            {% if form is defined %}
                <div>{{ "formerror"|trans }} </div>
                {{ form_errors(form) }}
            {% endif %}
            {% if errors is defined and errors|length > 0 %}
                <ul>
                    {% for error in errors %}
                        <li class="error">{{ error }}</li><br/>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endif %}
{% endspaceless %}