<div style="display:none;" class="loader-explanation mb-3"></div>
<div class="loader"{% if hidden %} style="display:none;"{% endif %}>
    <img class="img-fluid" src="{{ asset('images/loader.gif') }}" />
</div>