{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding-top:0 !important;">

        <h2 class="text-center mb-3">{{ 'about.title'|trans|raw }}</h2>

        <div class="row">
            <div class="col-12 col-md-12 static-content content-box">
                <div class="content-box-content content-box-content-zones">
                    <div class="content-box-content-zone">
                        Un-Mute ASBL vous déniche les petites pépites de la scène belge !
                    </div>
                    <div class="content-box-content-zone">
                        Que ce soit pour organiser un mini festival ou un festival inter-villes, le principe est simple :
                        Les groupes doivent atteindre un certain seuil pour confirmer l’organisation d’un festival.
                        Pour cela, un nombre précis de places doit être vendu à leurs fans.
                    </div>
                    <div class="content-box-content-zone">
                        Là où certains festivals produisent des artistes déjà connus, Un-Mute se veut être une plateforme de découverte musicale, révélatrice d’artistes émergents belges.
                        Un-Mute innove sur 4 aspects en permettant :
                        <ul class="list-unstyled">
                            <li><i class="fas fa-handshake"></i> aux artistes de <span class="um-label-small-bold">collaborer</span> sur un même pied et sans distinction ;</li>
                            <li><i class="fas fa-map-marked-alt"></i> aux artistes <span class="um-label-small-bold">locaux</span> d’organiser ensemble des concerts dans différents lieux en Belgique ;</li>
                            <li><i class="fas fa-hand-paper"></i> à vous de <span class="um-label-small-bold">participer</span> à la production et l'émancipation de la scène belge en achetant des tickets pour soutenir vos groupes préférés ;</li>
                            <li><i class="fas fa-headphones"></i> aux amateurs de musique de <span class="um-label-small-bold">découvrir</span> les nouveaux talents belges près de chez soi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}