{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" />
{% endblock %}

{% block main_attributes %}class="text-white" style="background-image: url('{{ absolute_url(asset('images/live/live-9-opacity.jpg')) }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"{% endblock %}

{% block body %}
    <div class="container-fluid px-3" style="padding-top:0 !important;">

        <h2 class="text-center mb-3">{{ 'about.title'|trans|raw }}</h2>

        <div class="row mb-2">
            <div class="col-12 col-md-4 d-flex about-headline align-items-center justify-content-center">
                <div class="text-center py-3">
                    <i class="fas fa-volume-down"></i>
                    <h3 class="mt-2">Un-Mute en quelques mots</h3>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex about-content align-items-center justify-content-center">
                <p>Un-Mute ASBL vous déniche les petites pépites de la scène belge !
                        L'objectif est simple : rendre la scène indépendante locale accessible au public, grâce au système de financement participatif appliqué au monde des festivals.
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-4 d-flex about-headline align-items-center justify-content-center">
                <div class="text-center py-3">
                    <i class="fas fa-drum"></i>
                    <h3 class="mt-2">Comment ça fonctionne</h3>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex about-content align-items-center justify-content-center">
                <p>
                    Les artistes à l'affiche d'un festival doivent, collectivement, atteindre un certain seuil de tickets vendus pour confirmer l’organisation du festival en question.
                    S'ils y parviennent, nous organisons le festival, les artistes sont assurés d'avoir du public devant eux, et les personnes ayant acheté un ticket sont plus qu'un simple public : ils forment l'ensemble des <span class="um-label-small-bold">producteurs</span> du festival.
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-4 d-flex about-headline align-items-center justify-content-center">
                <div class="text-center py-3">
                    <i class="fas fa-volume-up"></i>
                    <h3 class="mt-2">Une expérience complète</h3>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex about-content align-items-center justify-content-center">
                <p>
                    Nos festivals peuvent prendre différentes ampleurs ; certains se déroulent sur un week-end, d'autres sur une soirée. Tous sont des événements uniques de découverte musicale où nous vous fournissons une <span class="um-label-small-bold">expérience complète</span>.
                </p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-12 col-md-4 d-flex about-headline align-items-center justify-content-center">
                <div class="text-center py-3">
                    <i class="fas fa-fingerprint"></i>
                    <h3 class="mt-2">Notre unicité</h3>
                </div>
            </div>
            <div class="col-12 col-md-8 d-flex about-content align-items-center justify-content-center">
                <p>
                    Là où certains festivals produisent des artistes déjà connus, Un-Mute se veut être une plateforme de découverte musicale, révélatrice d’artistes émergents belges.
                    Un-Mute innove sur 4 aspects en permettant :

                    <br />
                    <br /><i class="fas fa-handshake"></i> aux artistes de <span class="um-label-small-bold">collaborer</span> sur un même pied et sans distinction ;
                    <br /><i class="fas fa-map-marked-alt"></i> aux artistes <span class="um-label-small-bold">locaux</span> d’organiser ensemble des concerts dans différents lieux en Belgique ;
                    <br /><i class="fas fa-hand-paper"></i> à vous de <span class="um-label-small-bold">participer</span> à la production et l'émancipation de la scène belge en achetant des tickets pour soutenir vos groupes préférés ;
                    <br /><i class="fas fa-headphones"></i> aux amateurs de musique de <span class="um-label-small-bold">découvrir</span> les nouveaux talents belges près de chez eux.
                </p>
            </div>
        </div>
    </div>
{% endblock %}