{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="text-center mb-4">{{ 'catalog_artists.title'|trans|raw }}</h3>

        {% if artists is empty %}
            <p>{{ 'catalog_artists.empty'|trans|raw }}</p>
        {% else %}

            <p>
                {{ 'catalog_artists.intro'|trans({'%proposition_url%': path('proposition')})|raw }}
            </p>
            <p>
                {{ 'catalog_artists.join_us'|trans({'%url%': path('fos_user_registration_register')})|raw }}
            </p>

            <div class="row">
                {% for artist in artists %}
                    {% include 'AppBundle:Public/Card:artist.html.twig' with {'bgwhite': true} %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}