{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3 class="text-center mb-4">{{ 'catalog_halls.title'|trans|raw }}</h3>

        <p>
            {{ 'catalog_halls.intro'|trans|raw }}
        </p>

        {% if halls is not empty %}
            <div class="row">
                {% for hall in halls %}
                    {% include 'AppBundle:Public/Card:hall.html.twig' with {'bgwhite': true} %}
                {% endfor %}
            </div>
        {% else %}
            <p>{{ 'catalog_halls.empty'|trans|raw }}</p>
        {% endif %}
    </div>

{% endblock %}