{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h3 class="rounded-title">Salles partenaires</h3>

        {% if halls is not empty %}
            <div class="row">
            {% for hall in halls %}
                {% include 'AppBundle:Public/Card:hall.html.twig' %}
            {% endfor %}
            </div>
        {% else %}
            <p>Il n'y a pas encore de salle partenaire sur la plateforme.</p>
        {% endif %}
    </div>

{% endblock %}