{% extends "base.html.twig" %}

{% block body %}
    {% if current_contracts is not empty %}
        <div class="container">
            <h3 class="text-center mb-3">Soutenez-les !</h3>

            <p>
                Ils souhaitent organiser un concert en Belgique. Ils ont besoin de votre soutien.
                Offrez à ces artistes la possibilité de se produire dans une salle comble en achetant des tickets pour leurs concerts.
            </p>

            <div class="row">
                {% for contract in current_contracts %}
                    {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': contract, 'bgwhite': true} %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if successful_contracts is not empty %}
        <div class="container">
            <h3 class="text-center">Ils sont confirmés</h3>
            <div class="row">
                {% for contract in successful_contracts %}
                    {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': contract, 'bgwhite': true} %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}