{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        {% if artists is empty %}
            <p>Pas encore d'artiste sur la plateforme</p>
        {% else %}
            <h3 class="rounded-title">Nos artistes</h3>

            <div class="row">
                {% for artist in artists %}
                    {% include 'AppBundle:Public/Card:artist.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}