{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" style="padding-top:0 !important;">
        <div class="row">
            <div class="col-12 col-md-4 content-box">
                <div id="static-toc" class="fixed-toc col-12 col-md-4">
                    <div class="content-box-header">
                        <h3>Navigation</h3>
                    </div>
                    <nav id="toc-nav" data-toggle="toc" class="navbar nav-pills navbar-expand-md content-box-content">
                        <ul class="flex-column">
                            <li class="nav-item"><a class="scroll" href="#cgu">Conditions générales d'utilisation</a></li>
                            <li class="nav-item"><a class="scroll" href="#cgv">Conditions générales de vente</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-12 col-md-8 static-content">
                <div class="content-box">
                    <div id="cgu" class="content-box-content">
                        <h3>Conditions générales d'utilisation</h3>
                        <p>
                            IL EST IMPORTANT DE LIRE ATTENTIVEMENT ET DE COMPRENDRE CES CONDITIONS GÉNÉRALES D’UTILISATION DU SITE. EN ACCEPTANT LES PRÉSENTES CONDITIONS, VOUS VOUS ENGAGEZ À RESPECTER LES TERMES ET CONDITIONS CI-APRÈS. SI VOUS N'ÊTES PAS D'ACCORD AVEC CES TERMES ET CONDITIONS ET QUE VOUS NE VOULEZ PAS LES RESPECTER, VOUS ÊTES LIBRES DE NE PAS LES ACCEPTER ET NE POURREZ PAS, EN CONSÉQUENCE, BÉNÉFICIER DES SERVICES PROPOSÉS PAR UN-MUTE SUR CE SITE.
                        </p>
                        <p>
                            Les présentes Conditions Générales d’Utilisation ont pour objet l'encadrement juridique des modalités de mise à disposition des services du site www.un-mute.be et leur utilisation tant par le simple « Utilisateur » que par le « Membre ».
                        </p>
                        <p>
                            L'accès et l'utilisation de ce site Internet par l’Utilisateur/le Membre sont soumis aux Conditions Générales d'Utilisation reprises ci-dessous. Veuillez donc lire les présentes Conditions Générales d’Utilisation attentivement avant d’utiliser le présent site internet. Si vous n’acceptez pas les Conditions Générales d'Utilisation, veuillez quitter le présent site internet immédiatement et ne pas l’utiliser.
                        </p>
                        <p>
                            <u>Les Conditions Générales d’Utilisation s’appliquent</u> :
                            <br />(i)	pour le simple « Utilisateur », dès son accès au site jusqu’à la fin de sa navigation
                            <br />(ii)	pour le « Membre », dès la création de l’espace individualisé jusqu’à la clôture de celui-ci.
                        </p>
                        <p>
                            Un-Mute se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes Conditions Générales d’Utilisation.
                        </p>

                        <h4 class="mt-4">Section 1 : Présentation et définitions</h4>
                        <h5>§1. Présentation</h5>
                        <p>
                            La plateforme développée par Un-Mute, à l’utilisation de laquelle se rattachent les présentes Conditions Générales d’Utilisation, a pour objectif de permettre aux artistes de se produire dans une des salles partenaires de leur choix en fonction du soutien obtenu auprès des membres de la plateforme. La plateforme est donc un lieu de rencontre entre les artistes, les membres de la plateforme et les professionnels du secteur musical. Les salles proposées aux artistes sont de taille variable, à charge pour les artistes de viser une salle en phase avec leur degré d’avancement.
                        </p>

                        <h5>§2. Définitions</h5>
                        <p>
                            <u>Il faut entendre par</u> :
                        </p>

                        <ul>
                            <li>« Utilisateur » : toute personne qui consulte et/ou utilise le site ou l'un des services proposés par le site ;</li>
                            <li>« Membre » (également appelé « Producteur » sur le site, dès lors qu’une fois inscrit le « Membre » a vocation à participer au financement et à la co-production de concerts) : l'Utilisateur devenu Membre au moment où il s’identifie sur le site susmentionné. Le terme « Membres » désigne donc les détenteurs, sur la plateforme, d’un espace personnel; l’obtention d’un tel espace personnel requerra d’avoir préalablement adhéré positivement aux Conditions Générales d’Utilisation ;</li>
                            <li>« Plateforme » ou « Site » : le site web www.un-mute.be;</li>
                            <li>« Artiste » : Membre de la plateforme qui décide de créer une page Artiste.</li>
                            <li>« page Artiste » : page, créée par un Membre, qui lui donne la possibilité de créer des événements sur la plateforme. Le Membre ayant créé une page Artiste peut inviter des tierces personnes, membres du groupe auquel la page Artiste est dédiée, à le rejoindre sur www.un-mute.be et les rattacher à la même page Artiste;</li>
                            <li>« Espace individualisé » : le compte (incluant l’identifiant et le mot de passe confidentiel choisis par le Membre) et l'espace personnel qui est réservé à chaque Membre inscrit sur la plateforme contenant les informations sur ce Membre ;</li>
                            <li>« Salle » ou « Salle partenaire » : le lieu où se déroulent les prestations des Artistes ayant mobilisé et rassemblé suffisamment de Membres pour atteindre le seuil minimum de tickets vendus. Les Salles Partenaires sont réparties en différentes catégories, étant entendu qu’une catégorie rassemble l’ensemble des salles étant situées dans une même région et ayant un seuil comparable ;</li>
                            <li> « Événement » : concert en devenir pour lequel l’Artiste n’a pas encore atteint le seuil de tickets vendus nécessaire à sa confirmation ;</li>
                            <li>« Seuil » : le nombre minimum de tickets à vendre pour que l’Evénement d’un Artiste soit confirmé. Le Seuil défini pour un Evénement est fixé préalablement par Un-Mute et ne peut être modifié pendant la durée d’une campagne de vente ;</li>
                            <li>« Campagne de vente » : Période de trente jours calendrier, à compter de jour de la création d’un Evénement, dont dispose un Artiste pour atteindre le Seuil de vente nécessaire à la confirmation dudit Evénement.</li>
                            <li>« Concert » : Festivité organisée par Un-Mute à la suite de la confirmation d’un Evénement. Un Concert comprend la prestation d’un Artiste Hôte et d’une ou deux première(s) partie(s) ;</li>
                            <li>« Artiste Hôte » : Artiste ayant initié un Evénement qui s’est concrétisé en Concert ;</li>
                            <li>« Première(s) Partie(s) » : Artistes invités par Un-Mute pour venir se produire en entrée du concert de l’Artiste Hôte ;</li>
                            <li>« Tournée multi-locale » : Ensemble de concerts confirmés rassemblant des Artistes qui joueront, chacun à leur tour, le rôle de Première Partie ou d’Artiste Hôte.</li>
                        </ul>

                        <h4 class="mt-4">Section 2 : Mentions légales</h4>
                        <p>
                            L'édition du site www.un-mute.be est assurée par Un-Mute ASBL, dont le siège social est situé au 3, Place Saint-Antoine, 1040 Bruxelles, dont le numéro d’entreprise est 0664.782.372 et dont l’adresse de contact est pierre@un-mute.be.
                        </p>
                        <p>
                            Le directeur de la publication est Monsieur Gonzague Yernaux (gonzague@un-mute.be).
                        </p>
                        <p>
                            L'hébergeur du site www.un-mute.be est OVH SAS au capital de 10 069 020 € dont le siège social est situé au 2, Rue Kellermann - 59100 Roubaix – France.
                        </p>


                        <h4 class="mt-4">Section 3 : Vie privée et données personnelles</h4>

                        <p>
                            Les informations demandées lors de l’inscription au site sont nécessaires et obligatoires pour la création d’un compte de Membre. En particulier, les informations pourront être utilisées par Un-Mute afin d’assurer la réalisation des services proposés dans le respect des présentes conditions générales. Par ailleurs, les informations pourront être utilisées par Un-Mute afin d’assurer l’envoi d’une newsletter aux Membres qui auront positivement donné leur consentement à l’inscription au service de newsletter.
                        </p>

                        <p>
                            Ces données seront conservées durant la période d’inscription du Membre sur la plateforme. Une fois désinscrit, toutes données qui pourraient permettre l’identification de l’ancien Membre seront supprimées de manière à respecter son droit à l’oubli.
                        </p>

                        <p>
                            <u>Les informations suivantes pourront être demandées par Un-Mute aux Membres de la plateforme</u> :
                        </p>
                        <ul>
                            <li>Nom (obligatoire)</li>
                            <li>Prénom (obligatoire)</li>
                            <li>Adresse email (obligatoire)</li>
                            <li>Adresse postale (facultatif)</li>
                            <li>Date de naissance (facultatif)</li>
                            <li>Genres musicaux favoris (facultatif).</li>
                        </ul>

                        <p>
                            Seules les personnes ayant clairement rempli le formulaire comportant toutes les informations demandées lors de l’inscription, ayant une adresse e-mail valide, et ayant consenti aux présentes Conditions Générales d’Utilisation peuvent devenir Membres titulaires d'un espace individualisé sur la plateforme Un-Mute. Le Membre s'engage à compléter en bonne et due forme le formulaire d'inscription en fournissant à Un-Mute des informations conformes à la réalité, sincères et exactes. Un-Mute pourra mettre fin à cette inscription à tout moment et sans préavis en cas de violation par le Membre de ses engagements contenus dans le présent paragraphe.
                        </p>
                        <p>
                            La gestion de ces informations est à charge d’Un-Mute. Un-Mute assure aux Membres une collecte et un traitement des informations personnelles dans le respect de la vie privée conformément à la loi du 8 décembre 1992 relative à la protection de la vie privée à l'égard des traitements de données à caractère personnel et au Règlement 2016/679 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation des données (ci-après RGPD).
                        </p>
                        <p>
                            Conformément à l’article 12 de la loi du 8 décembre 1992 relative à la protection de la vie privée à l'égard des traitements de données à caractère personnel et à l’article 15 du RGPD, le Membre conserve un droit de regard sur les données communiquées à Un-Mute et peut, à tout moment, y apporter des modifications et des rectifications si elles sont inexactes, conformément à l’article 16 du RGPD. Il possède en outre un droit à l’effacement  de ses données personnelles (article 17 du RGPD) ainsi qu’un droit d'opposition au traitement de celles-ci (article 15 du RGPD). Le droit de regard est exercé après l’envoi d’une demande écrite à Un-Mute. Les modifications se feront par simple envoi d’un formulaire de modification, disponible sur la plateforme, par mail à Gonzague Yernaux à l’adresse gonzague@un-mute.be ou directement par le Membre concerné via son espace personnel.
                        </p>
                        <p>
                            Un-Mute s'engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
                        </p>
                        <p>
                            Si, malgré tous ses efforts, Un-Mute est victime d’une intrusion informatique exposant les données de ses Membres, Un-Mute s’engage à communiquer l’information directement aux Membres concernés. Un-Mute ne pourra en aucun cas être tenue pour responsable de tout dommage que pourrait subir un Membre.
                        </p>
                        <p>
                            Par ailleurs, Un-Mute peut être amenée à divulguer des données personnelles lorsqu'elles sont nécessaires à l'identification, à l'interpellation ou à la poursuite en justice de tout individu susceptible de porter préjudice ou atteinte (intentionnellement ou non) aux droits ou à la propriété d’Un-Mute, à d'autres Membres, ou à toute autre personne risquant de subir un préjudice causé par de telles activités.
                        </p>
                        <p>
                            Sauf stipulation écrite contraire, ces données peuvent faire l’objet d’un traitement à des fins statistiques. L’anonymat des Membres est, à cette occasion, préservé. Ces données ne seront en aucun cas utilisées à des fins commerciales.
                        </p>
                        <p>
                            L’hébergeur d’Un-Mute, OVH SAS, s’est engagé à prendre toutes les mesures nécessaires au respect du RGPD.
                        </p>
                        <p>
                            Le Site n’utilise pas de « cookies », à une seule exception lorsque le Membre souhaite utiliser la fonction « Rester connecté » en vue de ne pas avoir à s’identifier à nouveau lors des visites ultérieures sur le Site. En cochant positivement la case « Rester connecté », le Membre active un cookie dont le seul objet est de maintenir la connexion du Membre au Site (pas de log-out à la fin de sa navigation). Lorsqu’il se déconnecte manuellement (log-out), le cookie est désactivé et le Membre devra pour le réactiver, s’il le souhaite, à nouveau cocher la case « Rester connecté » à l’occasion d’une future identification (log-in).
                        </p>



                        <h4 class="mt-4">Section 4 : Accès aux services</h4>
                        <h5>§1. Utilisateur</h5>

                        <p>
                            <u>Un-Mute permet à l'Utilisateur de son site web www.un-mute.be un accès</u> :
                        </p>

                        <ul>
                            <li>À la page de garde du site ainsi qu’aux informations y contenues : vidéo explicative, dernières nouvelles ;</li>
                            <li>Au catalogue des artistes, ainsi qu’aux détails de la page de chacun de ces artistes ;</li>
                            <li>Au catalogue des salles, ainsi qu’aux détails de la page de chacune de ces salles ;</li>
                            <li>À l’espace « Inscription » ;</li>
                            <li>À toutes les informations sur la structure d’Un-Mute, à la FAQ et aux mentions légales.</li>
                        </ul>
                        <p>
                            Le simple Utilisateur n'a pas accès aux services réservés aux Membres.
                        </p>
                        <p>
                            Pour accéder aux espaces dévolus aux Membres, l’Utilisateur doit suivre la procédure d’inscription sur la plateforme au terme de laquelle, si elle a été menée de bonne foi, il devient Membre et reçoit un identifiant ainsi qu’un mot de passe. Ils lui permettront de s'identifier sur la plateforme.
                        </p>

                        <h5>§2. Membre</h5>

                        <p>
                            L’Utilisateur devient Membre en s’inscrivant en tant que Membre. Il reçoit un identifiant et un mot de passe strictement personnels.
                        </p>

                        <p>
                            Au préalable, le futur Membre aura lu et accepté sans réserve les présentes Conditions Générales d’Utilisation, accessibles en permanence sur le site.
                        </p>

                        <p>
                            Le mot de passe doit être gardé secret par le Membre. Toute conséquence due à la divulgation de ce mot de passe par ce dernier sera supportée par le Membre.
                        </p>

                        <p>
                            Une fois inscrit valablement et doté d’un identifiant et d’un mot de passe, le Membre peut également créer une page Artiste.
                        </p>

                        <p>
                            <u>Outre ce qui est déjà autorisé pour l’Utilisateur (voir §1), Un-Mute permet au Membre inscrit sur www.un-mute.be</u> :
                        </p>
                        <ul>
                            <li>D’accéder et, le cas échéant, de modifier son espace personnalisé ;</li>
                            <li>D’acheter des places de concerts ;</li>
                        </ul>

                        <h5>§3. Dispositions communes</h5>
                        <p>
                            Un-Mute met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. Cette obligation est de moyen, Un-Mute ne s'engageant pas à atteindre ce résultat.
                        </p>
                        <p>
                            L'Utilisateur et le Membre ont la possibilité de contacter le site par messagerie électronique à l’adresse suivante pierre@un-mute.be.
                        </p>
                        <p>
                            L'accès aux services du site peut à tout moment faire l'objet d'une interruption, d'une suspension, d'une modification sans préavis pour une maintenance ou pour tout autre cas. Le Membre et, a fortiori, l’Utilisateur s’engagent à ne réclamer aucune indemnisation suite à l'interruption, à la suspension de l’accès à la plateforme ainsi qu’à la suspension de l’accès aux présentes Conditions Générales d’Utilisation ou à leur modification.
                        </p>
                        <p>
                            Le site est accessible gratuitement en tout lieu à tout Utilisateur et à tout Membre ayant un accès à Internet. Tous les frais encourus par l'Utilisateur ou par le Membre pour accéder aux services proposés par Un-Mute via son site internet www.un-mute.be (matériel informatique, logiciels, connexion Internet, etc.) sont à la charge de l’Utilisateur ou du Membre selon le cas.
                        </p>
                        <p>
                            Un-Mute ne garantit pas que les informations présentées sur son site soient détaillées, complètes, vérifiées ou exactes. Les documents, informations, fiches descriptives, et, en général, tout contenu présent sur le site sont fournis en « l'état », sans aucune garantie expresse ou tacite de quelque sorte que ce soit.
                        </p>
                        <p>
                            Un-Mute ne peut donc être tenue responsable de l’inexactitude des informations et contenus fournis par des Salles ou des Artistes et divulgués par Un-Mute sur la Plateforme.
                        </p>
                        <p>
                            Le Membre déclare et garantit qu’il connaît parfaitement les caractéristiques et les contraintes d’internet.
                        </p>

                        <h4 class="mt-4">Section 5 : Obligations à charge du Membre</h4>
                        <p>
                            En cas de publication de contenu sensu lato par un Membre de la plateforme sur son Espace individualisé, les conséquences de cette publication sur sa vie et/ou celle des autres Membres et Utilisateurs de la plateforme sont de la responsabilité exclusive du Membre concerné.
                        </p>
                        <p>
                            Tout contenu mis en ligne par le Membre est et reste donc de sa seule responsabilité. Le Membre s'engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts et aux droits de tierces personnes. Tout recours en justice engagé par un tiers lésé contre le site sera pris en charge par le(s) Membre(s) à l’origine du litige. Un-Mute se réserve notamment le droit d’appeler le(s) Membre(s) ayant publié le contenu litigieux à l’origine du litige en garantie et/ou à se retourner contre ce(s) Membre(s).
                        </p>
                        <p>
                            Il est rappelé que le Membre prend l’initiative de divulguer et de diffuser sur la plateforme des informations, données, textes, contenus, photos, vidéos le concernant. Aussi, le Membre en assume-t-il l’entière responsabilité et renonce à tout recours contre Un-Mute, notamment sur le fondement d’une atteinte à son droit à l’image, à son honneur, à sa réputation, à sa vie privée, résultant de la diffusion ou de la divulgation d’informations le concernant.
                        </p>
                        <p>
                            Les informations rendues accessibles par le Membre sur son espace personnel, de sa propre initiative, peuvent aussi être collectées et utilisées par des tiers. Par conséquent, le Membre décharge Un-Mute de toute responsabilité ou conséquence dommageable découlant de l’utilisation par des tiers des informations échangées par le biais des outils de communication proposés par le Site.
                        </p>
                        <p>
                            Plus largement, Un-Mute ne peut être tenue pour responsable des contenus diffusés par un Membre ou par un Utilisateur qui seraient susceptibles de contrevenir aux droits d’un ou de plusieurs autres Membres, Utilisateurs ou aux droits des tiers.
                        </p>
                        <p>
                            En conséquence, Un-Mute se dégage de toute responsabilité en cas de conflit ou de litige survenant entre deux ou plusieurs Membres ou Utilisateurs de la plateforme qui sont entrés en contact via la plateforme créée par Un-Mute.
                        </p>
                        <p>
                            Par ailleurs, Un-Mute se réserve le droit d’exercer une modération a posteriori sur les publications et de refuser, le cas échéant, leur mise en ligne, sans avoir à s’en justifier auprès du Membre (il s’agit là d’une faculté de modération a posteriori, et non d’une obligation systématique pour Un-Mute). En conséquence, le contenu partagé par le Membre peut à tout moment et pour n'importe quelle raison être supprimé ou modifié par Un-Mute. Le Membre ne reçoit aucune justification et notification préalablement à la suppression du contenu par Un-Mute.
                        </p>
                        <p>
                            Un-Mute ne peut donc être tenue responsable de l’illégalité et de l’inexactitude des informations et contenus fournis par les Membres et par les Utilisateurs.
                        </p>
                        <p>
                            Par conséquent, l'Utilisateur ou le Membre assument seuls l'entière responsabilité de la publication, la diffusion et l'utilisation des informations et contenus sur le et/ou en provenance du présent site.
                        </p>
                        <p>

                        <h4 class="mt-4">Section 6 : Organisation de concerts</h4>

                        <h5>§1. Conditions et modalités d’organisation</h5>
                        <p>
                            Si un Artiste arrive à vendre suffisamment de tickets pour atteindre le Seuil de confirmation de son événement, Un-Mute s’engage à réaliser ledit événement, appelé alors Concert, et confirme au plus vite le lieu du Concert.
                        </p>
                        <p>
                            Dans le cas où le Seuil de confirmation de l’Evénement de l’Artiste n’est pas atteint, Un-Mute rembourse à chaque Membre la totalité de la somme versée par ledit Membre pour l’acquisition d’une ou de plusieurs places dudit concert.
                        </p>
                        <p>
                            L’Artiste dispose d’un délai de 30 jours calendrier à partir du premier jour de la Campagne de vente pour vendre le nombre de tickets nécessaires à la confirmation de l’Evénement.
                        </p>

                        <h5>§2. Délai de rétractation</h5>

                        <p>
                            Par exception au principe suivant lequel le consommateur dispose d’un droit de rétractation de 14 jours lors de la conclusion d’un contrat à distance tel qu’indiqué à l’article VI.47 du code de droit économique, le Membre ne pourra en aucun cas se prévaloir dudit droit de rétractation, les services liés à des activités de loisir proposés par Un-Mute relevant de l’exception à ce principe, libellée à l’article VI.53,12° du Code de droit économique, dès lors que le contrat prévoit une date ou une période d’exécution spécifique.
                        </p>

                        <h5>§3. Tournée multi-locale</h5>

                        <p>
                            Les Evénements confirmés par Un-Mute pour un Artiste permettent, dans la mesure du possible, l’ajout par Un-Mute d’une ou de deux Première(s) Partie(s).
                        </p>
                        <p>
                            Un-Mute se réserve donc le droit de désigner en tant que Première(s) Partie(s) un ou deux Artiste(s) ayant également réussi une Campagne de vente et par conséquent confirmé un Concert dans une salle de même catégorie.
                        </p>
                        <p>
                            En contrepartie, l’Artiste Hôte pourra être, dans la mesure du possible, lui-même, Première Partie de son/ses invités dans leur région respective. Ce faisant, Un-Mute crée un brassage d’artistes provenant de différentes régions.
                        </p>
                        <p>
                            Chaque Artiste a donc potentiellement l’opportunité de se produire, au mieux, dans 3 régions/localités différentes (d’où la notion de tournée multi-locale) : la première fois en tant qu’Artiste Hôte, le Concert étant garanti, les deux autres fois, en tant que Première Partie, en fonction des possibilités.
                        </p>

                        <h5>§4. Accession multiple d’ « Artistes » à une catégorie de salle</h5>

                        <p>
                            Au cas où plusieurs « Artistes » débloquent une même catégorie de salle pour une même date, le premier groupe arrivé au Seuil de confirmation se verra affecter une salle de la catégorie atteinte, et puis la suivante par ordre d’accession au Seuil limite de confirmation de l’événement.
                        </p>
                        <p>
                            Dans le cas où toutes les salles de même catégorie dans une région sont attribuées pour une même date, l’/les Artiste(s) à qui est attribué un Concert par la suite dans cette région, à cette même date, est/seront invité(s) à se produire lors du Concert d’un des Artistes ayant déjà débloqué cette date, en tant que Première(s) Partie(s).
                        </p>
                        <p>
                            Un autre Concert sera organisé à une date ultérieure afin de permettre à l’/aux Artiste(s) qui a/ont réalisé une performance en tant que Première(s) Partie(s) d’être à son/leur tour Artiste(s) Hôte(s).
                        </p>

                        <h5>§5. Non-application du principe de tournée multi-locale</h5>
                        <p>
                            Comme précisé ci-avant, la mise en place d’une tournée multi-locale n’est en aucun cas garantie et due par Un-Mute.
                        </p>
                        <p>
                            Par exemple, il ne pourra être question de tournée multi-locale dans le cas où un nombre insuffisant d’Artistes a accédé une même catégorie de salle au jour du concert d’un groupe. Si un Artiste s’avère être le seul à avoir débloqué une salle d’une catégorie, la mise en place d’une tournée multi-locale impliquant plusieurs Artistes est, de facto, impossible.
                        </p>
                        <p>
                            En résumé, l’Artiste ne jouera alors que dans une seule salle, Un-Mute garantissant avant tout un seul et unique concert tout en cherchant, autant que faire se peut, à en organiser trois (tournée multi-locale).
                        </p>

                        <h5>§6. Annulation d’un concert Un-Mute après confirmation</h5>

                         <p>
                             En cas de force majeure ou d’un fait imprévisible et insurmontable indépendant de la volonté d’Un-Mute ayant pour conséquence l’annulation d’un Concert, les Membres ayant acheté une ou plusieurs places pour le Concert en question pourront accéder à tout autre Concert confirmé à hauteur du montant qu’ils auront investi initialement. Aucun remboursement d’un ticket en argent ne sera effectué par Un-Mute et aucune compensation pécuniaire n’est prévue.
                         </p>

                        <h4 class="mt-4">Section 7 : Juridiction et droit applicable en cas de litige</h4>

                        <p>
                            En cas de différend entre Membres et/ou Utilisateurs ou entre Membres et/ou Utilisateurs et Un-Mute, les parties s’engagent à tenter, avant de recourir à toute procédure judiciaire, de résoudre ce différend à l’amiable. Si cette tentative de résolution du différend à l’amiable, menée de bonne foi, échoue, le droit belge sera le droit applicable une fois le litige porté devant les juridictions compétentes (cours et tribunaux de l’arrondissement judiciaire francophone de Bruxelles). Le droit belge régit également les éventuelles relations précontractuelles.
                        </p>
                        <p>
                            Les correspondances échangées entre Un-Mute et les Utilisateurs ou Membres sont essentiellement assurées par courrier électronique. L’Utilisateur/le Membre reconnaît et accepte que les informations délivrées par Un-Mute par courrier électronique et sur le site font foi entre les parties et reçoivent la même force probante qu’un écrit manuscrit.
                        </p>
                        <p>
                            Les présentes Conditions Générales d’Utilisation et toutes les opérations qui en découlent sont régies par le droit belge.
                        </p>
                        <p>
                            Elles sont rédigées en langue française. En cas de traduction de celles-ci dans une ou plusieurs langues, le texte français sera considéré comme le texte authentique et prévaudra toujours en cas de divergence avec les versions traduites. Dans le même esprit, seul le texte français fera foi en cas de litige.
                        </p>
                        <p>
                            Au cas où l’une ou plusieurs stipulations contenues dans les Conditions Générales d’Utilisation est (sont) déclarée(s) nulle(s), la validité des autres stipulations des présentes n’en est en aucun cas affectée.
                        </p>
                        <p>
                            Les stipulations déclarées nulles seront, conformément à l’esprit et à l’objet des présentes, remplacées par d’autres stipulations valables, qui, eu égard à leur portée, se rapprochent dans toute la mesure permise par la loi, des stipulations déclarées nulles.
                        </p>
                        <p>
                            Le fait qu’Un-Mute ne se prévale pas, à un moment ou à un autre, d’une des dispositions des présentes Conditions Générales d’Utilisation ne pourra être interprété comme valant renonciation par Un-Mute à s’en prévaloir ultérieurement.
                        </p>

                        <h4 class="mt-4">Section 8 : Conditions de paiement</h4>

                        <p>
                            En acceptant les présentes, le Membre déclare que la source des fonds utilisés par lui sur la plateforme n’est pas illégale et s’engage à ne pas utiliser ladite plateforme pour une activité illégale ou frauduleuse, notamment le blanchiment d’argent.
                        </p>

                        <h5>§1. Système de vente de ticket</h5>

                        <p>
                            Un-Mute met à disposition des Artistes inscrits, des propositions de dates de disponibilité de Salles Partenaires sur la plateforme. L’Artiste qui sélectionne une date crée un Evénement qui sera organisé à la condition que soit atteint le Seuil de vente de tickets. Si le Seuil n’est pas atteint (condition résolutoire), l’Evènement ne deviendra pas un Concert et ne sera pas organisé, et les tickets vendu seront remboursés (la vente étant révoquée au sens de l’article 1183 du Code civil et les obligations réciproques des Membres, des Artistes et d’Un-Mute étant censées n’avoir pas existé).
                        </p>
                        <p>
                            Un-Mute met ses différents canaux de communication à disposition de l’Artiste pour lui permettre de mettre son Evénement en valeur.
                        </p>

                        <h5>§2. Achat de tickets</h5>

                        <p>
                            Tout Membre inscrit sur la plateforme Un-Mute peut acheter des tickets pour les Evénements proposés par un Artiste ou pour les Concerts déjà confirmés. Le Membre sélectionne un Evénement (ou un Concert) et le nombre de tickets qu’il désire acquérir. Ce dernier est alors invité à régler le montant dû via le système de paiement Stripe.
                        </p>
                        <p>
                            Un-Mute ne joue pas le rôle d’intermédiaire financier. Toute transaction réalisée sur la plateforme passe par le service de Stripe.
                        </p>
                        <p>
                            Dès lors, les Conditions Générale d’Utilisation de Stripe (https://stripe.com/be/privacy) ainsi que les modalités encadrant les payements effectués via Stripe (https://stripe.com/payment-terms/legal) sont d’application pour toute transaction réalisée sur la plateforme Un-Mute.
                        </p>

                        <h4 class="mt-4">Section 9 : Promotion sur et en dehors du site</h4>

                        <p>
                            De nombreux liens hypertextes sortants sont présents sur le site. Cependant, les pages web sur lesquelles aboutissent ces liens n'engagent en rien la responsabilité d’Un-Mute qui n'a pas le contrôle de ces liens.
                        </p>
                        <p>
                            L'Utilisateur/Membre s'interdit donc à engager la responsabilité d’Un-Mute concernant le contenu et les ressources relatives à ces liens hypertextes sortants.
                        </p>

                        <h4 class="mt-4">Section 10 : Propriété intellectuelle</h4>

                        <p>
                            Le site et tous ses éléments constitutifs, en ce compris les textes, logos, signes distinctifs, code et lignes de code, base de données liés au site et/ou à Un-Mute sont protégés par différents droits de propriété intellectuelle (et, en particulier, par le droit d’auteur).
                        </p>
                        <p>
                            En utilisant le site et/ou en devenant Membre, les Utilisateurs/les Membres ne se voient attribuer aucune licence sur et/ou en lien avec le site et ses éléments constitutifs, lesquels site et éléments constitutifs ne peuvent donc notamment pas être copiés, extraits, reproduits, communiqués au public, réutilisés d’une quelconque façon (que ce soit en tout ou en partie) par les Utilisateurs/les Membres, sauf autorisation expresse, écrite et préalable obtenue par l’Utilisateur ou le Membre. Toute violation de la propriété intellectuelle liée au site et/ou à Un-Mute et toute infraction à la présente disposition pourra faire l’objet de poursuites et d’actions judiciaires.
                        </p>
                        <p>
                            Le Membre reste titulaire de l’intégralité de ses droits de propriété intellectuelle (c’est-à-dire : des droits de propriété intellectuelle sur le contenu qui lui appartient). Mais lorsque le Membre décide de mettre en ligne du contenu sur le site, il concède à titre gratuit à Un-Mute le droit non-exclusif d’utiliser, représenter, reproduire, adapter, modifier, diffuser et distribuer sa publication, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour toute la durée des droits de propriété intellectuelle.
                        </p>
                        <p>
                            Un-Mute s'engage à faire figurer le nom du Membre à proximité de chaque utilisation ou réutilisation de sa publication.
                        </p>
                        <p>
                            Le Membre s’engage à respecter les droits de propriété intellectuelle appartenant à des tiers et à ne pas mettre en ligne sur le site des contenus violant ces droits appartenant à des tiers (en particulier : les droits d’auteur des tiers).
                        </p>


                        <h4 class="mt-4">Section 11 : Responsabilité et force majeure</h4>
                        <p>
                            Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n'engage pas la responsabilité d’Un-Mute.
                        </p>
                        <p>
                            Plus largement, la responsabilité d’Un-Mute ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
                        </p>
                    </div>
                </div>
                <div class="content-box mt-4">
                    <div id="cgv" class="content-box-content">
                        <h3>Conditions générales de vente</h3>
                        <p>
                            L'ACHETEUR RECONNAÎT FORMELLEMENT AVOIR PRIS CONNAISSANCE ET ACCEPTER LES CONDITIONS GÉNÉRALES DE VENTE REPRISES CI-DESSOUS AVANT DE FINALISER L'ACHAT DE BILLETS. L’ACHETEUR EST ÉGALEMENT CONSCIENT DE L’ARTICLE 5 DES PRÉSENTES CONDITIONS GÉNÉRALES DE VENTE ET L’INAPPLICATION DU DROIT DE RÉTRACTATION.
                        </p>

                        <h4 class="mt-4">ARTICLE 1 : APPLICATION DES CONDITIONS GÉNÉRALES</h4>
                        <p>
                            Les présentes conditions générales de vente (ci-après les Conditions) régissent de façon exclusive les relations entre Un-Mute ASBL, dont le siège social est situé sis 3, Place Saint-Antoine à 1040 Bruxelles, Belgique et enregistrée sous le numéro d’entreprise BCE 0664.782.372, et toute personne s’apprêtant à commander ou détenant ou ayant acquis un titre d’entrée pour un Evénement ou un Concert, par l’intermédiaire de la plateforme Un-Mute (ci-après « l’Acheteur »).
                        </p>
                        <p>
                            Pour commander un billet en ligne, il convient de s’inscrire sur le site web www.un-mute.be et d’accepter les Conditions Générales d’Utilisation. Lesdites Conditions d’Utilisation peuvent être consultées et/ou imprimées à tout moment à l’adresse suivante : https://www.un-mute.be/conditons-generales ou en cliquant sur l’onglet « conditions générales d’utilisation » présent sur chaque page du site web.
                        </p>
                        <p>
                            Ces Conditions Générales d’Utilisation font partie intégrante de la convention entre Un-Mute et l’Acheteur et s’appliquent à l’exclusion de toutes autres conditions ou clauses dérogatoires notamment, mais pas exclusivement, à l’exclusion de toute communication écrite ou négociation antérieures, ainsi que toutes clauses ou conditions générales de l’Acheteur même si celles-ci prévoient qu’elles sont seules valables. Des conditions particulières, écrites et préalables divergentes, seront uniquement admises à titre exceptionnel après le consentement exprès et écrit d’Un-Mute (c’est-à-dire se référant expressément aux présentes Conditions). Par l’achat ou la détention d’un titre d’entrée, l’Acheteur déclare avoir lu, compris et accepté sans réserve ces Conditions et marqué son accord sur le traitement de ses données.
                        </p>
                        <p>
                            Ces Conditions pouvant faire l’objet de modifications, les conditions applicables à la vente sont celles en vigueur sur le site https://www.un-mute.be/conditons-generale à la date de l’achat du titre d’entrée. Un-Mute se réserve le droit, à sa seule discrétion, de modifier et de mettre à jour à tout moment, sans préavis, les Conditions.
                        </p>
                        <p>
                            La nullité, la caducité, le caractère non exécutoire ou la non-conformité de l’une des dispositions des Conditions avec les dispositions légales ou règlementaires en vigueur, n’affectera pas la validité des autres dispositions des Conditions qui conserveront leur pleine force légale. La disposition entièrement ou partiellement nulle, caduque, non exécutoire ou écartée dans ce contexte, sera réputée non écrite et sera remplacée ou considérée comme avoir été remplacée par une disposition similaire conforme à la législation et qui réalisera, dans la mesure du possible, la même fonction.
                        </p>

                        <h4 class="mt-4">ARTICLE 2 : PRIX</h4>

                        <p>
                            Les prix des titres d’entrée sont indiqués en euros et s’entendent taxes et TVA comprises, sauf indication contraire.
                        </p>
                        <p>
                            Le prix du ticket comprend les frais administratifs et tous les frais fixes de fonctionnement d’Un-Mute.
                        </p>
                        <p>
                            Un-Mute se réserve le droit de modifier ses prix à tout moment. Le cas échéant, les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes.
                        </p>

                        <h4 class="mt-4">ARTICLE 3 : CONDITIONS D’ACHAT DES TITRES D’ENTREE</h4>
                        <p>
                            L'achat de tickets est exclusivement réservé aux personnes âgées de plus de 18 ans qui sont en possession d’une carte de crédit/débit valide émise à leur nom. Toutefois, l’accès aux Concerts organisés par Un-Mute n’est pas soumis à cette restriction liée à l’âge. Les Concerts Un-Mute sont ouverts à tout public, sauf exclusion précisée dans le règlement d’ordre intérieur d’une salle partenaires.
                        </p>
                        <p>
                            Les titres d’entrée, vendus par l’intermédiaire de la plateforme Un-Mute, ne peuvent être obtenus qu’en remplissant le formulaire d’achat en ligne disponible sur le site https://www.un-mute.be, et ceci dans la mesure des tickets encore disponibles.
                        </p>
                        <p>
                            Un-Mute se réserve le droit, à sa discrétion, de rejeter toute demande d’achat pour toute raison qu’elle juge opportune et de requérir à tout moment une preuve de l’identité de l’Acheteur. Un-Mute se réserve également le droit de refuser la vente du billet à des Acheteurs soupçonnés d’acheter les billets dans le simple but de les revendre.
                        </p>

                        <h4 class="mt-4">ARTICLE 4 : COMMANDE ET PAIEMENT</h4>

                        <p>
                            La personne physique ou morale qui effectue le paiement est considérée comme commettant ; elle se porte garante de la commande, même si la facture doit être établie et envoyée à un tiers.
                        </p>
                        <p>
                            Un seul paiement est autorisé par commande. Les réservations de billets de spectacles s'effectuent en temps réel. Dans ce cadre, notre serveur vous informe en temps réel sur la disponibilité des billets au moment de la passation de votre commande.
                        </p>
                        <p>
                            Un-Mute se réserve le droit de ne pas honorer une réservation si le moyen de paiement utilisé a donné lieu, dans le passé, à des transactions frauduleuses ou si les données personnelles complétées indiquent (ou tendent à indiquer) une fraude.  Dans ces cas, Un-Mute pourra récupérer les frais concernant l'étude du caractère frauduleux de la réservation ainsi que les dommages réellement subis auprès et à charge de la personne ayant effectué la commande.
                        </p>
                        <p>
                            Le paiement sera effectué conformément au choix de l’Acheteur entre les méthodes de paiement proposées dans la procédure de commande en ligne. Les méthodes de paiement proposées sont le paiement par carte de crédit (cartes Visa ou MasterCard) ou cartes de type Bancontact/MisterCash et Maestro. Les paiements sont sécurisés par Stripe.
                        </p>
                        <p>
                            Dans le cadre de la lutte anti-fraude, est utilisé le paiement 3 D Secure, système de paiement par authentification. Ce service est gratuit et peut se déclencher pour vos paiements par Bancontact, Visa et MasterCard. Avec le 3D Secure (ou Verified by visa ou MasterCard SecureCode), votre banque vérifie au moment du paiement votre identité. Le procédé d'identification étant spécifique à chaque banque, veuillez vous renseigner auprès de votre banque sur le procédé d'authentification utilisé.
                        </p>
                        <p>
                            Quelle que soit la méthode de paiement choisie par l’Acheteur, le montant total de la transaction (prix d’achat des titres d’entrée et éventuels frais administratifs, de traitement ou de livraison) est immédiatement prélevé et la vente ne sera effective et les titres d’entrées délivrés qu’après réception du paiement par Un-Mute endéans le délai de paiement.
                        </p>

                        <h4 class="mt-4">ARTICLE 5 : VENTE SOUS CONDITION RESOLUTOIRE</h4>

                        <p>
                            Si le nombre total de titres d’entrée vendus pour l’Evénement convoité par l’Acheteur est inférieur au nombre minimal de titres d’entrée nécessaire à la validation dudit Evénement, et ce dans les 30 jours calendrier à partir de la date de mise en vente des titres d’entrée, alors la vente sera considérée comme caduque et les titres d’entrée déjà achetés seront remboursés à l’Acheteur dans leur intégralité.
                        </p>
                        <p>
                            Les remboursements, une fois communiqués aux Acheteurs, seront effectués dans les 30 jours calendrier.
                        </p>
                        <p>
                            Le nombre minimal de titres d’entrée nécessaire à la validation d’un Evénement est précisé lors de l’achat du titre d’entrée et reste inchangé pour chaque Campagne de vente.
                        </p>
                        <p>
                            Votre commande de billets de spectacles n'est définitivement confirmée et n'engage Un-Mute qu'à réception de l'e-mail confirmant que l’Evénement a bien été validé suite au dépassement du nombre minimal de titres d’entrée. En conséquence, nous vous invitions à consulter votre messagerie électronique régulièrement afin de vous tenir informé à cet égard.
                        </p>
                        <p>
                            L’Acheteur est tenu de remplir une adresse d'e-mail valable et de vérifier les éventuels e-mails provenant d’Un-Mute retenus par des filtres antispam. À défaut, l’Acheteur ne peut pas s'adresser à Un-Mute en vue d'obtenir un quelconque dédommagement.
                        </p>

                        <h4 class="mt-4">ARTICLE 6 : ABSENCE DE DROIT DE RETRACTATION</h4>

                        <p>
                            Il n’existe pas de droit de rétractation.
                        </p>
                        <p>
                            Conformément à l’article VI.53, 12° du livre VI du Code de droit économique, l’Acheteur ne dispose pas du droit de rétractation prévu à l’article VI.47 pour la prestation de services liés à des activités de loisir dès lors que le contrat prévoit une date ou une période d’exécution spécifique.
                        </p>

                        <h4 class="mt-4">ARTICLE 7 : ECHANGES ET REMBOURSEMENT</h4>

                        <p>
                            Toute commande (i) validée par Un-Mute après la période de confirmation (à savoir : après que le nombre minimal de titres d’entrées visée à l’article 5 a été atteint) et (ii) payée rend la vente ferme et définitive, et toute modification ou annulation impossible (sous réserve du seul article 12 des présentes et des modalités d’échange de billets qu’il prévoit). Les titres d’entrée ne sont dès lors ni échangeables ni remboursables.
                        </p>
                        <p>
                            En l’absence de validation du Concert par Un-Mute, les remboursements, se font exclusivement par virement bancaire.  Il n’est jamais procédé à un remboursement en cash.
                        </p>
                        <p>
                            Les billets pourront être remboursés uniquement à l'égard de l’Acheteur et ne peuvent être transmis. À cet effet, les instructions fournies par e-mail par Un-Mute concernant la demande de remboursement doivent être suivies.
                        </p>
                        <p>
                            Dans tous les cas, seul le prix du billet (tel que défini à l’article 2 des présentes) sera remboursé, aucun frais de quelque nature que ce soit, ne sera remboursé ou dédommagé.
                        </p>
                        <p>
                            Les annulations et/ou modifications des Premièr(e)s Parties ne donnent aucunement lieu au remboursement ou à l'échange de billets.
                        </p>

                        <h4 class="mt-4">ARTICLE 7 : DELIVRANCE DES TITRES D’ENTREE</h4>

                        <h5>7.1 MODALITES DE DELIVRANCE</h5>
                        <p>
                            Une fois le Concert validé, l’Acheteur reçoit un mail de confirmation, reprenant le détail de la commande passée ainsi qu’une version des présentes conditions générales de vente (version applicable au moment de la passation de la commande).
                        </p>
                        <p>
                            Il reçoit également, au plus tard 10 jours avant le Concert, un email de validation contenant les titres d’entrée achetés en format pdf. L’Acheteur peut imprimer les titres d’entrée à partir de cet email.
                        </p>
                        <p>
                            Les titres d’entrée non utilisés ou non retirés le jour de Concert ne seront en aucun cas échangés ou remboursés.
                        </p>

                        <h5>7.2 DEFAUTS DE DELIVRANCE</h5>

                        <p>
                            Si l’Acheteur ne reçoit pas d’email de confirmation ou son/ses titre(s) d’entrée(s) dans le mail de validation, il doit avertir Un-Mute par email à l’adresse : gonzague@un-mute.be, dans les meilleurs délais.
                        </p>
                        <p>
                            S’il y a une erreur dans les quantités ou spécifications des titres d’entrée délivrés ou si les titres d’entrée sont endommagés, l’Acheteur doit avertir Un-Mute immédiatement et au plus tard dans les 7 jours calendrier de la délivrance des titres d’entrée, par email à l’adresse gonzague@un-mute.be. A défaut, la réception des titres d’entrée tient lieu d’acceptation des quantités et de la conformité des titres d’entrée achetés. En cas de défaut de délivrance notifié à Un-Mute dans les délais prescrits et après constatation par Un-Mute de ce défaut, Un-Mute procèdera à la rectification de l’erreur ou remplacera les titres d’entrée endommagés. Aucune compensation ou remboursement ne sera effectué.
                        </p>
                        <p>
                            Un-Mute décline toute responsabilité si les coordonnées (nom, prénom, adresse, adresse email) indiquées par l’Acheteur sont erronées et que de ce fait son titre d’entrée ne peut lui  être délivré ou ne peut lui donner accès au Concert.
                        </p>

                        <h4 class="mt-4">ARTICLE 8 : PERTE, VOL OU DEGRADATION</h4>

                        <p>
                            Un-Mute décline toute responsabilité :
                        </p>

                        <ol>
                            <li>pour les anomalies pouvant survenir en cours de commande ou d'impression du billet imprimable à domicile</li>
                            <li>en cas de négligences de l’Acheteur,</li>
                            <li>en cas de perte,</li>
                            <li>en cas de vol,</li>
                            <li>en cas d’utilisation illicite du billet imprimable à domicile.</li>
                        </ol>
                        <p>
                            Il ne sera remis à l’Acheteur aucun duplicata ou certificat, rémission du billet, de quelque nature que ce soit, autre que le seul billet initial imprimable par l’Acheteur.
                        </p>
                        <p>
                            Afin d'éviter les abus, toute perte ou tout autre problème relatif aux billets doit être notifié à Un-Mute par e-mail (gonzague@un-mute.be) au plus tard la veille du Concert.
                        </p>

                        <h4 class="mt-4">ARTICLE 9 : UTILISATION DES TITRES D’ENTREE</h4>

                        <p>
                            Le titre d’entrée est uniquement valable pour le lieu, la séance, la date et l’heure précisée sur le billet.  Le billet doit être conservé durant toute la durée de présence sur le lieu de la représentation.
                        </p>
                        <p>
                            L’entrée est soumise au contrôle de validité du billet.  Il est uniquement valable à la date et aux conditions d’utilisation figurant sur celui-ci. Les titres d’entrée disposent d’un QR code unique qui les identifie et les authentifie.
                        </p>
                        <p>
                            Chaque titre d’entrée ne pourra être utilisé qu’une seule fois et ne donnera lieu qu’à un seul accès au Concert. L’accès au Concert se fera moyennant le scan des titres d’entrée. Les versions imprimées des e-tickets et les supports smartphone sont acceptés comme titre d'entrée, l’important étant la lisibilité du QR code de l’e-ticket. Pour être valide, votre billet doit être imprimé en mode portrait, sur une feuille A4 blanche, vierge recto et verso. A chaque place achetée correspond un billet. Si le même QR code est présenté plusieurs fois, seule la première personne à présenter le billet sera admise à assister à la manifestation. Elle est présumée être le porteur légitime du billet.
                        </p>
                        <p>
                            C'est pourquoi il est interdit de reproduire, dupliquer ou contrefaire le billet d'une quelconque manière, ou de le mettre à disposition à de telles fins. Conservez votre billet en lieu sûr. Utilisez exclusivement un circuit de vente officiel pour acheter votre billet. N'acceptez jamais un billet qui vous est proposé par un inconnu, car il pourrait s'agir d'une copie.
                        </p>
                        <p>
                            Un-Mute se réserve le droit de refuser l’entrée au Concert à toute personne ne disposant pas d’un titre d’entrée obtenu moyennant les canaux de vente officiels décrits ci-dessus. L'organisateur n'est cependant pas obligé de procéder à une vérification de l'identité de la personne présentant le billet imprimable à domicile afin de vérifier qu'il s'agit bien de l'Acheteur de billets, ni de vérifier l'authenticité du billet imprimable à domicile dans la mesure où l'imitation ou la copie ne peut être identifiée de manière indubitable en tant que telle lors du contrôle d'entrée à la manifestation. Si le détenteur d'un billet imprimable à domicile est refoulé pour cette raison lors d'un contrôle d'accès, il n'existe aucun droit à remboursement du prix acquitté ou à dédommagement.
                        </p>

                        <h4 class="mt-4">ARTICLE 10 : COMMUNICATION A DES TIERS</h4>

                        <p>
                            L’Acheteur du titre d’entrée doit s'en tenir à la loi du 30 juillet 2013 relative à la revente de titres d’accès à des événements, publiée au Moniteur belge le 6 septembre 2013. Cette loi interdit les pratiques suivantes (article 5) :
                        </p>

                        <ul>
                            <li>la revente de tickets de manière habituelle</li>
                            <li>le fait d'exposer en vue de la revente de manière habituelle</li>
                            <li>le fait de fournir des moyens qui seront utilisés pour une revente de manière habituelle</li>
                            <li>la revente de manière occasionnelle à un prix supérieur au prix d'entrée mentionné</li>
                            <li>la vente d'un titre d'accès privilégié ou promotionnel qui n'a pas fait l'objet d'une vente initiale</li>
                            <li>la revente avant le début de la vente initiale.</li>
                        </ul>

                        <p>
                            Les titres d’entrée sont réservés à une utilisation privée et ne peuvent en aucun cas être revendus à des tiers à titre commercial ou à un prix différent du prix de vente officiel. L’Acheteur initial qui cède les titres d’entrées obtenus auprès d’Un-Mute s’engage à communiquer préalablement aux personnes à qui il cède les titres d’entrée les Conditions et il se porte fort de leur acceptation par ces personnes. Les billets restent toujours établis au nom de l’Acheteur initial, même en cas de revente (occasionnelle) et Un-Mute n’est tenue par les présentes conditions générales qu'à l'égard de la personne enregistrée qui a effectué la commande des billets et qui est reconnue par Un-Mute.
                        </p>

                        <h4 class="mt-4">ARTICLE 11 : MODIFICATIONS</h4>

                        <p>
                            Les mentions sur les billets ne peuvent pas être modifiées. Les titulaires de billets modifiés pourront se voir refuser l'accès.
                        </p>
                        <p>
                            Les billets resteront toujours libellés au nom de la personne qui les a initialement commandés. Le nom de l’acquéreur du billet ne peut donc pas être modifié par celui d'un éventuel tiers, même pas en cas de revente (occasionnelle).
                        </p>
                        <p>
                            La programmation étant établie longtemps à l’avance, Un-Mute se réserve le droit de modifier spectacles, distributions, lieux et places en cas de nécessité impérieuse.  Ces changements ne pourront donner lieu à aucun remboursement ni à aucune indemnité compensatoire. Cependant, l’Acheteur peut faire une demande écrite par mail de remplacement de son titre d’entrée par un titre d’entrée du même prix, au sens de l’Article 2, pour un autre Concert confirmé par Un-Mute.
                        </p>

                        <h4 class="mt-4">ARTICLE 12 : ANNULATION ET FORCE MAJEURE</h4>
                        <p>
                            En cas d’annulation de Concert après réception du mail de validation ou en cas de force majeure, il peut être procédé à un échange de titre d’entrée par un titre d’entrée du même prix, au sens de l’Article 2, pour un autre Concert confirmé par Un-Mute.
                        </p>

                        <h4 class="mt-4">ARTICLE 13 : PROPRIETE INTELLECTUELLE</h4>
                        <p>
                            Les produits proposés, tels que les billets et le merchandising, restent la propriété exclusive d’Un-Mute, tant sur le plan intellectuel que matériel. Par conséquent, toute reproduction ou contrefaçon, sous quelque forme que ce soit et par quelque procédé que ce soit, est strictement interdite.
                        </p>
                        <p>
                            Sauf accord écrit de l'organisateur, toute utilisation commerciale du nom ou du logo de l'Evénement ou de l'artiste est strictement interdite.
                        </p>

                        <h4 class="mt-4">ARTICLE 14 : SECURISATION DES DONNEES PERSONNELLES</h4>

                        <p>
                            Conformément aux dispositions légales, Un-Mute a la possibilité d'enregistrer votre adresse et vos coordonnées dans la base de données de la plateforme Un-Mute pour améliorer la gestion de votre commande et permettre le traitement de votre commande. Vous conservez un droit de regard et de modification quant à ces données personnelles.
                        </p>
                        <p>
                            Les données personnelles que vous aurez transmises seront également conservées à des fins de contrôle, afin de lutter contre la revente de billets à des prix excessifs. Ces contrôles sont effectués pour vérifier si des Acheteurs proposent un ou plusieurs tickets à des prix excessifs.
                        </p>
                        <p>
                            Les données relatives au paiement sont traitées par Stripe. Dès lors, les Conditions Générale d’Utilisation de Stripe (https://stripe.com/be/privacy) ainsi que les modalités encadrant les payements effectués via Stripe (https://stripe.com/payment-terms/legal) sont d’application.
                        </p>
                        <p>
                            Sauf accord exprès de votre part au moment de la confirmation de la commande, vos données personnelles ne peuvent être transférées ou rendues accessibles aux tiers sauf à certains prestataires comme Stripe aux fins du paiement visé au point précédent et à l’hébergeur du site et des bases de données d’Un-Mute, aux fins visées dans les Conditions Générales d’Utilisation, à savoir essentiellement le fonctionnement du site web et des services proposés en ligne par Un-Mute.
                        </p>


                        <h4 class="mt-4">ARTICLE 15 : DIVERS</h4>

                        <p>
                            Il est interdit d'apporter des boissons, des aliments, de la drogue, des bouteilles en plastique, des canettes, des pièces d'artifice, des armes ou autres objets dangereux à un Concert Un-Mute. Pareils objets devront être abandonnés à l’entrée. En cas de refus, l'accès à la salle sera refusé, sans le moindre droit au remboursement. En outre, toute détention d’arme sera portée à la connaissance des forces de l’ordre (de même que toute autre forme d’activité illégale).
                        </p>

                        <h4 class="mt-4">ARTICLE 16 : RECLAMATION OU LITIGE</h4>

                        <p>
                            En cas de litiges, seuls les juridictions francophones de l'arrondissement de Bruxelles sont compétentes et le droit belge est d'application.
                        </p>
                        <p>
                            Un-Mute attire l'attention sur l'existence de la plate-forme européenne Online Dispute Resolution (ODR)   ec.europa.eu/odr/. Cette plate-forme a pour ambition de trancher les litiges intégralement en ligne, après l'introduction d'un formulaire de réclamation électronique.
                        </p>

                        <h4 class="mt-4">ARTICLE 17 : CONTACT</h4>
                        <p>
                            Pendant les heures de bureau, vous pouvez nous joindre au numéro 0497/21.26.54 ou nous contacter par e-mail à pierre@un-mute.be.
                        </p>
                        <p>
                            Vous pouvez également, à tout moment, suivre l'état de votre commande de spectacles en ligne à l'adresse https://www.un-mute.be.
                        </p>
                    </div>
                </div>
            </div>




        </div>
    </div>
{% endblock %}