{% extends "base.html.twig" %}

{% block body %}

    {% include "@App/Themes/modal.html.twig" %}
    <a data-toggle="modal" data-target="#defaultModal" href="{{ path('fos_user_security_login') }}">Modal test</a>

    <div class="container">
        <h2>News</h2>
        <div class="row">
            {% for new in news %}
                {% if new.type == 'artist' %}
                    {% include 'AppBundle:Public/Card:artist.html.twig' with {'artist': new.object} %}
                {% elseif new.type == 'contract' %}
                    {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': new.object} %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <h2>Concerts à venir</h2>
        <div class="row">
            {% for crowdfunding in crowdfundings %}
                {% include 'AppBundle:Public/Card:contract_artist.html.twig' with {'contract': crowdfunding} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
