{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h3 class="text-center mb-4">Contact & boîte à idées</h3>

        <p mb-3>
            Une idée ? Une question ? Un conseil ? Un intérêt pour le projet ?
            Vous êtes au bon endroit. Remplissez le formulaire suivant pour nous contacter ; nous vous répondrons dans les plus brefs délais !
        </p>

        <div class="content-box">
            <div class="content-box-content">
                {{ hidden_loader() }}
                <div id="suggestionbox_form">
                    {{ render(controller('AppBundle:Public:suggestionBoxForm')) }}
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="suggestionmodal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="login-header-title">
                                <h5 class="mb-3">Vous êtes sûr ?</h5>
                                <p>
                                    Apparemment, vous n'avez pas entré votre adresse e-mail. Nous ne pourrons donc pas répondre à votre question.
                                </p>
                            </div>
                        </div>
                        <a id="validate-sb-send" class="btn btn-primary text-uppercase pull-left" href="#">Envoyer</a>
                        <a id="cancel-sb-send" class="btn btn-secondary pull-right" data-dismiss="modal" href="#">Annuler</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block additional_javascripts %}
    <script>
        $('#suggestionmodal').modal({'show': false});

        $('#validate-sb-send').click(function(e) {
            e.preventDefault();
           ajaxSendForm();
            $('#suggestionmodal').modal('hide');
        });

        function displayLoader() {
            $('.content-box .loader').show();
            $('#suggestionbox_form').hide();
        }

        function hideLoader() {
            $('.content-box .loader').hide();
            $('#suggestionbox_form').show();
        }

        function ajaxSendForm() {
            var url = "{{ path('suggestionBox_form') }}";
            var formSerialize = $('form.suggestionBoxForm').serialize();

            displayLoader();

            $.post(url, formSerialize, function(response) {
                hideLoader();
                $('#suggestionbox_form').html(response);
                initform();
            }, 'HTML');
        }

        function initform() {
            $('.suggestionBoxForm').submit(function(e) {
                e.preventDefault();

                if($('#suggestion_form_email') && !$('#suggestion_form_email').find('input').val()) {
                    $('#suggestionmodal').modal('show');
                }

                else {
                    ajaxSendForm();
                }
            });
        }

        initform();
    </script>

{% endblock %}