{% extends "base.html.twig" %}

{% block headtitle %}
    Boite à idées - {{ parent() }}
{% endblock %}

{% block body %}

    <h1>ICI tu vas donner tes idées sinon ça ne va pas aller !</h1>
	
	{{ form(form) }}

{% endblock %}