{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h3 class="text-center mb-3">L'équipe</h3>

        <div class="row">
            <div class="col-12 col-md-4 content-box">
                {% include '@App/Public/ContentBox/static_links.html.twig' with {'no_link': ['team']} %}
            </div>

            <div class="col-12 col-md-8 static-content">
                <div class="content-box">
                    <div class="content-box-content content-box-content-zones">
                        <div class="content-box-content-zone">
                            <p>
                                <span class="um-label um-semi-bold">Pierre</span>, à l'initiative du projet, baigne dans la musique depuis plus de 10 ans. Ayant fait partie de nombreux groupes, il a eu l'occasion d'expérimenter les différentes phases qu'un groupe doit passer pour se faire voir sur la scène belge. Fort de ses frustrations, il propose une vision innovante du booking pour la scène Francophone de Belgique.
                            </p>
                        </div>
                        <div class="content-box-content-zone">
                            <p>
                                Conquis par l’idée, <span class="um-label um-semi-bold">Gonzague</span>, jeune webmaster diplômé en informatique, accepte directement de participer au projet. La coordination du développement d’une plateforme Web de cette envergure constitue un défi des plus motivants à ses yeux, en accord avec son envie de participer au lancement d’une start-up au sortir de ses études.
                            </p>
                        </div>
                        <div class="content-box-content-zone">
                            <p>
                                Sollicité pour assurer l’encadrement juridique du projet, <span class="um-label um-semi-bold">Louis</span> n’a pas tardé à répondre positivement à cette invitation. La possibilité qui lui était ainsi offerte de mettre les connaissances théoriques acquises durant ses cinq années de formation juridique au service d’un projet sous-tendu par des valeurs qui lui étaient chères a fini de le convaincre de s’investir pleinement dans Un-Mute Asbl.
                            </p>
                        </div>
                        <div class="content-box-content-zone">
                            <p>
                                Concernant la communication, <span class="um-label um-semi-bold">Alice</span> alimente l'équipe avec ses 6 années d'expériences professionnelles en PME puis en institution non marchande. Diplômée de l'IHECS et de la KUL en culturele studies, Un-Mute Asbl était une belle opportunité de rajouter à son arc un secteur d'activité qui l'a toujours passionnée  : la communication événementielle et culturelle !
                            </p>
                        </div>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-header">
                        <h3>Nos valeurs</h3>
                    </div>
                    <div class="content-box-content content-box-content-zones">
                        <div class="content-box-content-zone">
                            <p>
                                L’équipe d’Un-Mute s’articule autour de 3 grands principes qui résument la volonté des porteurs du projet.
                            </p>
                        </div>
                        <div class="content-box-content-zone">
                            <div class="um-label um-semi-bold">Accessibilité</div>
                            <p>
                                Un-Mute Asbl se veut accessible à tous en ne faisant pas de sélection à l’entrée et en mettant en place un financement participatif qui permet à toute personne sachant convaincre le public d’évoluer sans contraintes. Ainsi, la plate-forme s’adresse à tout artiste musical de la Fédération Wallonie-Bruxelles, et ce, quel que soit son niveau de performance, son âge ou son style de musique. De même, avec le temps, l’ASBL peut envisager d’augmenter le territoire dans lequel elle est présente.
                            </p>
                        </div>

                        <div class="content-box-content-zone">
                            <div class="um-label um-semi-bold">Continuité</div>
                            <p>
                                Un-Mute ne veut pas se limiter à un concert pour la production de ses artistes, et veut pouvoir leur proposer une <a href="{{ path('faq') }}">tournée multilocale</a>.
                                À terme, l’asbl souhaite offrir un cadre de développement global à ses artistes, qui prendrait en considération tous les aspects inhérents à l’émancipation d’artistes musicaux (l’image, le son, la diffusion, etc.).
                            </p>
                        </div>

                        <div class="content-box-content-zone">
                            <div class="um-label um-semi-bold">Synergie</div>
                            <p>
                                Un-Mute souhaite être le carrefour entre les artistes, les producteurs et les professionnels du secteur, mais également jouer sur la diversité de ses artistes pour leur permettre de mettre leurs atouts en avant. Pour Un-Mute, un plus un est égal à trois. C’est de cette volonté qu’une née le principe de tournée multi-locale.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}