{% extends "base.html.twig" %}

{% block nav %}
    {% include ':patterns:header_nav.html.twig' with {'page': 'tickets'} %}
{% endblock %}

{% block headtitle %}Tickets | Un-Mute{% endblock %}

{% block open_graph %}
    <meta property="og:image" content="{{ absolute_url(asset('images/festivals/SM_seeu-16-17-mai-2020.jpg')) }}" />
{% endblock %}

{% block header %}
    {% include ':patterns:header.html.twig' with {'img': 'tickets.jpg', 'title': 'Tickets'} %}
{% endblock %}
{% block body %}
    {% if form.contracts is not empty %}
        {{ form_start(form) }}

        {% set nb_contracts_ok = 0 %}
        {% for contract in form.contracts %}
            {% set contractArtist = contract.vars.data.contractArtist %}

            <div class="row">
                <div class="col-12 col-lg-5 order-2 order-lg-1 bg-dark pt-4">{% include ':patterns:crowdfunding.html.twig' with {'big': true} %}</div>
                <div class="col-12 col-lg-7 order-1 order-lg-2 my-auto">
                    {% if contractArtist.crowdable %}
                        {% set nb_contracts_ok = nb_contracts_ok + 1 %}
                    {% endif %}
                    {% include ':patterns:tickets.html.twig' with {'more_info': true} %}

                    {% if loop.last and nb_contracts_ok > 0 %}
                        <section class="text-center mt-4 mb-5">
                            <span class="pr-4">TOTAL : <span class="um-label-bold" id="cart-total">0</span> €</span>
                            {{ form_widget(form.submit) }}
                        </section>
                    {% else %}
                        {% do form.submit.setRendered %}
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>
        {% endfor %}

    {% else %}
        <div class="container p-5">
            <p class="w-50 font-weight-bold">
                Soyez prêts, les tickets pour le festival Un-Mute au SeeU des 16 et 17 mai 2020 seront très bientôt mis en vente !
            </p>
        </div>
    {% endif %}
{% endblock %}