{% extends "email/base.html.twig"%}

{% block email_title %}Resetting your password{% endblock %}

{% block email_content %}
   <p>
       Hello {{ user.username }} !

        You can reset your password by accessing {{ confirmationUrl }}

        Greetings,
        the Un-Mute Team
    </p>
{% endblock %}