.ranking-title-tab {
  color: black;
  font-size: 17px
}

.compute-alert {
  font-size: 11px;
}

.compute-button, .compute-button :hover {
  color: white;
}
.ranking-select-action {
  width: auto !important;
  height: auto !important;
}