.counterpart-label {
  font-weight: bold;
  border-bottom: 1px solid $secondary-background;
}

.featherlight-iframe, .featherlight .featherlight-content, .featherlight-inner {
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width:100%;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999;
}

.payment-method {
  border: 1px solid grey;
  padding: 10px;
}