.counterpart-label {
  font-weight: bold;
  font-size: 1.2em;
}

.counterpart-price {
  font-size: 1.4em;
}

.counterpart-form:not(:first-of-type) {
  @extend .pt-3;
  border-top: 1px solid #D3D3D3;
}

.contract-info
{
  &-content {
    font-size: 1.3em;
  }

  &-title {
    text-align:center;
    @extend .small;
    @extend .um-label;
    @extend .font-weight-bold;
  }
}

