.p-info {
  background-color: rgba(245,227,180, 0.86);
  border: 1px black dotted;
  border-radius: 20px;
  padding: 10px;

  a {
      color: $secondary-link-color;
  }
}

.green-check {
  max-height: 20px;
}
.text-positive {
  color: $positive-color;
}