.p-info {
  background-color: rgba(245, 191, 70, 0.16);
  color: #925200;
  padding: 10px;

  a {
      color: $secondary-link-color;
  }
}

.p-promo {
  background-color: rgba(253, 248, 98, 0.21);
  color: #000000;
  padding: 10px;
}

.green-check {
  max-height: 20px;
}
.text-positive {
  color: $positive-color;
}

.alert-dismissable {
  @extend .pr-5;
}