.um-card {
  color: white;
  position: relative;

  &-header {
    position: relative;
    height: 12rem;
    background-size: cover !important;
    background-position: center;
  }

  &-date {
    position: absolute;
    top: 20px;
    left: 0;
  }

  &-progress {
    position:relative;
    border-radius: initial;

    &.successful-progress, &.sales-progress {
      width: 100%;
      background: $successful-progress-bg;
      position: absolute;
      top: -22px;
      z-index: 100;
    }
    .progress-bar {
      &-percent {
        position: absolute;
        left: 4px;
      }
    }
  }

  &-span {
    position: absolute;
    bottom: 0;
  }
  &-content {
    @extend .pt-3;
    @extend .pb-2;
    @extend .px-1;
    @extend .px-lg-3;

    text-align: left;
    background-color: transparent;

    span {
      height: 20px;
      position: absolute;
      bottom: calc(100% - 10px);
      left: 0;
      right: 0;
      // background-color: transparent;
      text-align: center;
    }

    h5 {
      @extend .text-uppercase;
      color: rgba(45, 44, 44, 1);
    }

    p {
      color: rgba(99, 99, 99, 1);
      font-size: 12px;
    }
  }

  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    background: black;
    opacity: 0;


    &:hover {
      opacity: 0.1;
    }
  }
}

.successful-progress-bg {
  background: $successful-progress-bg;
}

.successful-progress-text {
  color: $successful-progress-bg;
}


/* NEW GENERATION CARDS */
.thumbnail {
  color: white;
  padding: 0;
  overflow: hidden;
  min-height: 200px;

  @include media-breakpoint-up(md) {
    min-height: 250px;
  }

  position: relative;
  border-radius: 10px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  .overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transition: all 0.8s ease-in-out;
    background: rgba(0, 0, 0, 0.40);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.40) 50%, #000000 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.40) 50%, #000000 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.40) 50%, #000000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.40) 50%, #000000 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.40) 50%, #000000 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(50%, rgba(0, 0, 0, 0.40)), color-stop(100%, #000000));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
  }
  .thumbnail-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* cursor: pointer; */
    height: 100%;
    z-index: 1000;
  }

  .tag {
    position: relative;
    top: 20px;
    z-index: 1000;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #1b00ff;
    &:hover {
      text-decoration: none;
    }
  }

  .caption {
    bottom: -5px;
    font-size: 1rem;
    margin-top: 30px;
    position: relative;
    padding: 0 20px 5px 20px;

    &, & .title a{
      transition: all 0.3s ease-in-out;
    }

    i {
      color: $main-yellow;
    }
    .title {
      font-size: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      a {
        color: white;
      }
    }
    .content {
      display: none;
    }
  }
  &:hover {
    .caption {
      .title {
        a {
          color: #f0da22;
        }
      }
      .content {
        display: block;
      }
    }
  }
  .artists-list, .artists-list i {
    color: #c0bfbb;
  }
}