.um-card {
  color: white;
  position: relative;

  &-header {
    position: relative;
    height: 12rem;
    background-size: cover !important;
    background-position: center;
  }

  &-date {
    position: absolute;
    top: 20px;
  }

  &-progress {
    position:relative;
    border-radius: initial;

    &.successful-progress {
      width: 100%;
      background: $successful-progress-bg;
      position: absolute;
      top: -22px;
      z-index: 100;
    }
    .progress-bar {
      &-percent {
        position: absolute;
        left: 4px;
      }
    }
  }

  &-span {
    position: absolute;
    bottom: 0;
  }
  &-content {
    @extend .pt-3;
    @extend .pb-2;
    @extend .px-1;
    @extend .px-lg-3;

    text-align: left;
    background-color: transparent;

    span {
      height: 20px;
      position: absolute;
      bottom: calc(100% - 10px);
      left: 0;
      right: 0;
      // background-color: transparent;
      text-align: center;
    }

    h5 {
      @extend .text-uppercase;
      color: rgba(45, 44, 44, 1);
    }

    p {
      color: rgba(99, 99, 99, 1);
      font-size: 12px;
    }
  }

  &-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: black;
    opacity: 0;

    &:hover {
      opacity: 0.1;
    }
  }
}

.successful-progress-bg {
  background: $successful-progress-bg;
}

.successful-progress-text {
  color: $successful-progress-bg;
}