.content-box {

  &.solid-borders {
    .content-box-row, .content-box-col, .content-box-content, .content-box-content-zones, .content-box-content-zone, .content-box-content-zone-vert  {
    border-color: black !important;
    }
  }

  @extend .mb-3;

  &-row {
    @extend .align-items-end;

    width: 100%;

    @include media-breakpoint-up(md) {
      border-top: 1px solid #d2d2d2;
      border-bottom: 1px solid #d2d2d2;
      .content-box-col:not(:first-child) {
        border-left: 1px solid #d2d2d2;
      }
    }

    &.no-border-top {
      border-top: 0 none;
    }
    &.no-border-bottom {
      border-bottom: 0 none;
    }
  }
  &-col {
    @extend .py-3, .py-md-4;
    &.no-border-top {
      border-top: 0 none;
    }
    &.no-border-bottom {
      border-bottom: 0 none;
    }
  }

  &-header {
    @extend .bg-primary;
    @extend .p-4;
    @extend .text-white;
    @extend .text-center;
  }

  &-content {
    padding: 1rem;

    @include media-breakpoint-up(md) {
      padding: 1.5rem;
    }

    &.no-padding-left {
      @extend .pl-0;
    }
    &.no-padding-right {
      @extend .pr-0;
    }

    background: #fdfdfe;
    border-right: 2px solid #d0d2d4;
    border-bottom: 2px solid #d0d2d4;

    &.border-left {
      border-left: 2px solid #d0d2d4;
    }

    &.no-border {
      border: 0 none !important;
    }

    &-zones {
      @extend .px-0;
      @extend .py-0;
      &-vert {
        @extend .px-4;
        @extend .py-0;
      }
      .content-box-content-zone {
        width: 100%;
        @extend .p-2;
        @extend .pl-3;
        @extend .p-md-4;
        border-bottom: 1px solid #d0d2d4;

        &-vert {
          @extend .pt-4;
          @include media-breakpoint-up(md) {
            border-right: 1px solid #d0d2d4;
            border-bottom: 0 none;
          }

        }

        &.no-border {
          border-bottom: 0 none;
          border-right: 0 none;
        }
        &.no-padding-left {
          @extend .pl-0;
          .nav-item {
            @extend .my-1;
             &.active, &:hover {
               border-left: 3px solid $main-color;
               @extend .font-weight-bold;
             }

            .nav-link {
              @extend .pl-4;
              @extend .um-label;
            }
          }
        }
        &.no-padding-right {
          @extend .pr-0;
        }
      }
    }
  }

  table.content-box-table {
    @extend .w-100;

    tr {
      &:not(:last-child) {
        border-bottom: 1px solid #d0d2d4;
      }
      &.no-border {
         border-bottom: 0 none;
       }
    }

    td {
      @extend .py-3;
      @extend .text-right;
    }
    td.contract-info-title {
      @extend .text-left;
    }
  }
}

.crowdfunding-box {
  border: 1px solid white;
  background: rgba(195, 163, 232, 0.1);
  @extend .rounded, .mx-auto, .p-3;
  @include media-breakpoint-up(md) {
    @extend .w-50;
  }
}