.footer{
  @extend .py-3;

  background-color: $footer-background-color;
  margin-top: 50px;
  height: $footer-height;
  &-links{
    margin-top: $main-margin;
    & a {
      text-transform: uppercase;
      color: #787676;
    }
  }
  
  & .copyright{
    display: flex;
    justify-content: space-around;
    margin-top: $main-margin;
    text-align: center;
    color: #787676;
  }
}

// footer stick on bottom
// ⚠️ the rest of the content of the page, specifically needs to be in a class .main
.main{
  min-height: calc(100vh - #{$footer-height});
}