label {
  @extend .small;
  @extend .um-label;
}

input.form-control, textarea.form-control {
  background-color: $main-background;
  border-radius: 15px;
}

.invalid-feedback {
  display:block;
}

ul.form-errors {
  @extend
    .alert ul,
    .alert-danger ul,
    .list-unstyled,
    .mb-0;
}

input[type=submit], button[type=submit] {
  cursor: pointer;
}

.collection-actions {
  text-align: right;
}

.datePicker.hasDatepicker {
  width: 0;
  padding: 35px;
  background-image: url('../images/calendar.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  cursor: pointer;
}

.a2lix_translationsLocales.nav-tabs {
  display: none; /* As we don't use != locales */
}

.required:after {
  content: "*";
  color: rgba(167, 44, 0, 1);
}

// number input for adding tickets

.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 0 0 10px 0;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border-radius: 20px;
  background-color: #f5f8fa;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input a.incr-btn {
  color: rgba(45, 44, 44, 0.8);
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}