@media (min-width: 768px) {
  .navbar-brand
  {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
  }

  .nav-item {
    border-left: 1px solid whitesmoke;

    &:last-of-type {
      border-right: 1px solid whitesmoke;
    }

    position: relative;

    transition:All 2s ease;
    -webkit-transition:All 2s ease;
    -moz-transition:All 2s ease;
    -o-transition:All 2s ease;

    &.stickytop {
      border: 0;
    }

    &.left-nav-item {
      right: 0;
      &.stickytop {
        right:35px;
      }
    }
    &.right-nav-item {
      left: 0;
      &.stickytop {
        left: 35px;
      }
    }
  }
}

#mainNav .nav-item {
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  .nav-link {
    color: white;
  }
}

header {
  background-image: url('../images/jumbotron-bg.jpg');
  background-size: cover;
  background-position: center;
}

.jumbotron {
  background-color: transparent !important;
  padding-bottom: 0 !important;
}

#not-auth-perma-links {
  position: absolute;
  top: 20px;
  right: 20px;
}

#mainNav {
  transition:background-color 2s ease;
  -webkit-transition:background-color  2s ease;
  -moz-transition:background-color  2s ease;
  -o-transition:background-color  2s ease;

  background-color: rgba(0, 0, 0, 0.6);
  min-height: 50px;
}

#mainNav.stickytop {
  @extend .fixed-top;
  background-color: rgba(0,0,0,1);
}

#menuLogo {
  display: none;
  position:relative;
}

#menuLogo img {
  position:absolute;
  width: 70px;
  top: -20px;
  left: -35px;
}

#logo {
  transition:opacity 2s ease;
  -webkit-transition:opacity  2s ease;
  -moz-transition:opacity  2s ease;
  -o-transition:opacity  2s ease;
  opacity: 1;

  &.hiddenLogo {
    opacity: 0;
  }
}


@media(max-width:47.9em) {
  .navbar .collapse .dropdown-menu {
    position: relative;
    float: none;
    background:none;
    border:none;
  }
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
  background-color: black;
  padding-bottom: 0;
}

.dropdown-menu .dropdown-item {
  border-radius: 10%;
  background-color: black;
  color: white;
  padding-left: 10px;
  &:hover {
    background-color: $main-color;
    color: black;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  #nav-logo {
    display: none !important;
  }
}