header {
  background-image: url('../images/jumbotron-bg-small.jpg');
  background-size: cover;
  background-position: center;

  #not-auth-perma-links {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1041;
    img {
      max-height: 36px;
    }
  }

  #inscription-perma-link {
    position: fixed;
    left: 10px;
    top: 10px;
  }

  .jumbotron {
    background-color: transparent !important;
    margin-bottom: 0 !important;
    padding: 2rem 1rem !important;
  }

  #mainNav {
    transition: background-color 1s ease;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;

    background-color: rgba(30, 22, 25, 0.9);
    min-height: 50px;

    .nav-item {
      text-transform: uppercase;
      padding-left: 6px;
      padding-right: 6px;
      .nav-link {
        color: white;
      }
    }

    &.stickytop {
      @extend .fixed-top;
      background-color: rgba(59, 59, 59, 1);
    }
  }

  #logo {
    z-index: 1000;
    padding-top: 40px;
    max-width: 180px;

    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    opacity: 1;

    &.hiddenLogo {
      opacity: 0;
    }
  }

  .dropdown-menu {
    position: absolute !important;
    background-color: black;
    padding-bottom: 0;
    max-width: initial;
  }

  #dropdownMenuButton, .btn.btn-primary.header-button {
    background: transparent;
    border: 1px solid #9D9D9D;
    color: $main-color;
    @extend .px-3;
  }

  .dropdown-menu .dropdown-item {
    background-color: black;
    color: white;
    padding-left: 10px;
    &:hover {
      background-color: $main-color;
      color: black;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  #menuLogo {
    position: relative;
  }



  // > SMall
  // If you change this, you should also change toggleable breakpoint of #mainNav
  @media (min-width: 576px) {
    .navbar-brand {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: 0 auto;
    }

    #mainNav .nav-item {
      padding-left: 12px;
      padding-right: 12px;
      position: relative;

      transition: All 1s ease;
      -webkit-transition: All 1s ease;
      -moz-transition: All 1s ease;
      -o-transition: All 1s ease;
    }

    #not-auth-perma-links {
      position: absolute;
      right: 20px;
    }

    #inscription-perma-link {
      position: absolute;
      left: 20px;
    }

    #logo {
      padding-top: 0;
    }

    #menuLogo img {
      position: absolute;
      width: 60px;
      top: -10px;
      left: -30px;
    }
  }

  .notifications-menu-preview {
    padding: 0px;
    .notifications-menu-preview-wrapper {
      overflow: auto;
      max-height: 250px;
      background-color: white;
    }
    .menu-title {
      color: #ffffff;
      font-size: 13px;
      display: inline-block;
      font-weight: bold;
    }

    .notifications-menu-preview-heading {
      padding: 2px 10px;
    }

    .notification-menu-preview-title {
      font-size: 1rem;
      color: #000;
      font-weight: bold;
    }

    a.notification-menu-preview-content {
      text-decoration: none;
      display: block;

      &.unseen {
       background-color: $main-color;
      }

      .notification-menu-preview-preview {
        color: #000;
        font-size: 0.8rem;
      }

    }
    .notification-menu-preview-item {
      position: relative;
    }
    .notification-menu-preview-item img {
      position: absolute;
      top: 7px;
      left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    .dropdown-menu .divider {
      height: 1px;
      margin: 5px 0;
      overflow: hidden;
      background-color: $secondary-background;
    }
    .notifications-menu-preview-wrapper a.notification-menu-preview-content {
      padding: 0px !important;
      border-bottom: 1px solid #d1d1d1;
    }
   .notifications-menu-preview-wrapper a.notification-menu-preview-content:hover {
      color: #000;
      background: rgba(0, 0, 0, 0.1);
    }
    .login-nav ul.nav.navbar-nav.navbar-right li a {
      display: block;
    }
    .notifications-menu-preview-heading {
      background: #000;
      padding: 3px 10px;

      h4 a {
        color: white;
      }
    }

    a.notification-menu-preview-content {
        text-decoration: none;
        display: block;
      }
    .dropdown .glyphicon-bell {
      vertical-align: middle;
    }
    .dropdown {
      list-style: none;
    }
  }
}

@include media-breakpoint-down(md) {
  header #menuLogo {
    display: none !important;
  }
}

@include media-breakpoint-up(md) {
  header {
    background-image: url('../images/jumbotron-bg.jpg');
  }
}

@include media-breakpoint-up(lg) {
  &.left-nav-item {
    right: 0;
    &.stickytop {
      right: 35px;
    }
  }
  &.right-nav-item {
    left: 0;
    &.stickytop {
      left: 35px;
    }
  }
}