header {
  background-image: url('../images/jumbotron-bg.jpg');
  background-size: cover;
  background-position: center;

  #not-auth-perma-links {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1041;
    .inscription-link {
      display: none;
    }
    img {
      max-height: 36px;
    }
  }

  #mainNav .nav-item {
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    .nav-link {
      color: white;
    }
  }

  .jumbotron {
    background-color: transparent !important;
    padding-bottom: 0 !important;
  }

  #mainNav {
    transition: background-color 2s ease;
    -webkit-transition: background-color 2s ease;
    -moz-transition: background-color 2s ease;
    -o-transition: background-color 2s ease;

    background-color: rgba(0, 0, 0, 0.6);
    min-height: 50px;
  }

  #mainNav.stickytop {
    @extend .fixed-top;
    background-color: rgba(0, 0, 0, 1);
  }

  #logo {
    padding-top: 40px;
    max-width: 180px;

    transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
    opacity: 1;

    &.hiddenLogo {
      opacity: 0;
    }
  }

  .dropdown-menu {
    position: absolute !important;
    background-color: black;
    padding-bottom: 0;
    max-width: initial;
  }

  .dropdown-menu .dropdown-item {
    background-color: black;
    color: white;
    padding-left: 10px;
    &:hover {
      background-color: $main-color;
      color: black;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  #menuLogo {
    position: relative;
    display: none;
  }

  @media (max-width: 576px) {
    #menuLogo {
      display: none !important;
      position: relative;
    }
  }

  // > SMall
  // If you change this, you should also change toggleable breakpoint of #mainNav
  @media (min-width: 576px) {
    .navbar-brand {
      position: absolute;
      width: 100%;
      left: 0;
      text-align: center;
      margin: 0 auto;
    }

    .nav-item {
      border-right: 1px solid whitesmoke;

      &:first-of-type {
        border-left: 1px solid whitesmoke;
      }

      position: relative;

      transition: All 2s ease;
      -webkit-transition: All 2s ease;
      -moz-transition: All 2s ease;
      -o-transition: All 2s ease;

      &.stickytop {
        border: 0;
      }

      &.left-nav-item {
        right: 0;
        &.stickytop {
          right: 35px;
        }
      }
      &.right-nav-item {
        left: 0;
        &.stickytop {
          left: 35px;
        }
      }
    }
    .navbar .inscription-link {
      display: none;
    }

    #not-auth-perma-links {
      position: absolute;
      top: 20px;
      right: 20px;

      .inscription-link {
        display: inline-block;
      }
    }

    #logo {
      padding-top: 0;
    }

    #menuLogo img {
      position: absolute;
      width: 60px;
      top: -10px;
      left: -30px;
    }
  }

  .notifications-menu-preview {
    .notifications-menu-preview-wrapper {
      overflow: auto;
      max-height: 250px;
      background-color: $main-color;
    }
    .menu-title {
      color: #ffffff;
      font-size: 13px;
      display: inline-block;
      font-weight: bold;
    }

    .notifications-menu-preview-heading {
      padding: 2px 10px;
    }

    .divider {
      margin: 5px 0;
    }

    .notification-menu-preview-title {
      font-size: 1.3rem;
      color: #000;
      font-weight: bold;
      margin: 5px 0px;
    }

    .notifications a.content {
      text-decoration: none;
      display: block;
      color: #000;
    }
    .notification-menu-preview-item {
      position: relative;
    }
    .notification-menu-preview-item img {
      position: absolute;
      top: 7px;
      left: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    .dropdown-menu .divider {
      height: 1px;
      margin: 5px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
    ul.dropdown-menu.notifications .notifications-wrapper a.content {
      padding: 0px !important;
      background: rgba(0, 0, 0, 0.04);
      border-bottom: 1px solid #d1d1d1;
    }
    ul.dropdown-menu.notifications .notifications-wrapper a.content:hover {
      color: #000;
      background: rgba(0, 0, 0, 0.1);
    }
    .login-nav ul.nav.navbar-nav.navbar-right li a {
      display: block;
    }
    .notification-heading {
      background: #000;

      .notifications a.content {
        text-decoration: none;
        display: block;
      }
      padding: 3px 10px;
    }
    ul.dropdown-menu.notifications {
      padding: 0px;
    }
    .dropdown .glyphicon-bell {
      vertical-align: middle;
    }
    .dropdown {
      list-style: none;
    }
  }
}