.separating-waves {
  @extend .w-100;

  $waveheight: 80px;
  $waveheight2: 40px;

  position: absolute;
  bottom: -($waveheight/2);
  left: 0;
  height: $waveheight;

  background: url('../images/bar2.png') repeat-x;
  background-size: $waveheight $waveheight;

  &.colored {
    background: url('../images/bar.png') repeat-x;
    background-size: $waveheight2 $waveheight2;
    bottom: -($waveheight2/2);
    height: $waveheight2;

    &.big {
      background-size: $waveheight $waveheight;
      bottom: -($waveheight/2);
      height: $waveheight;
    }

    &.low {
      background: url('../images/bar_low.png') repeat-x;
      background-size: $waveheight2 $waveheight2;

      &.big {
        background-size: $waveheight $waveheight;
      }
    }

    &.high {
      background: url('../images/bar_high.png') repeat-x;
      background-size: $waveheight2 $waveheight2;
      &.big {
        background-size: $waveheight $waveheight;
      }
    }
  }

  &.prior {
    z-index: 1000;
  }

  &.low {
    background: url('../images/bar2_low.png') repeat-x;
    background-size: $waveheight $waveheight;
  }
  &.high {
    background: url('../images/bar2_high.png') repeat-x;
    background-size: $waveheight $waveheight;
  }
}

#wrapper-wrapper {
  overflow: hidden !important;
  min-height: 350px;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin-top: -1px;
  position: absolute;
  left: 0;
}

#carousel div.card-wrapper {
  text-align: center;
  width: 300px;
  height: 350px;
  float: left;
  position: relative;
}

.caroufredsel_wrapper {
  margin: auto !important;
}

#about {
  @extend .text-white;

  background-image: url('../images/live/live-10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  i {
    font-size: 2.4rem;
    color: $main-yellow;
  }

  h3 {
    color: $main-yellow;
  }

  p {
    @extend .big;
  }

  @include media-breakpoint-down(sm) {
    background-image: url('../images/live/live-10.jpg');
  }
}