.separating-waves {
  @extend .w-100;

  $waveheight: 80px;

  position: absolute;
  bottom: -40px;
  left: 0;
  height: $waveheight;

  background: url('../images/bar2.png') repeat-x;
  background-size: $waveheight $waveheight;

  &.prior {
    z-index: 1000;
  }

  &.low {
    background: url('../images/bar2_low.png') repeat-x;
    background-size: $waveheight $waveheight;
  }
  &.high {
    background: url('../images/bar2_high.png') repeat-x;
    background-size: $waveheight $waveheight;
  }
}

#wrapper-wrapper {
  min-height: 350px;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin-top: -1px;
  position: absolute;
  left: 0;
}

#carousel div.card-wrapper {
  text-align: center;
  width: 300px;
  height: 350px;
  float: left;
  position: relative;
}


#home-explanations {
  @extend .text-white;

  background-image: url('../images/live/live-10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  i {
    font-size: 2.4rem;
    color: $main-yellow;
  }

  h3 {
    color: $main-yellow;
  }

  p {
    @extend .big;
  }

  @include media-breakpoint-down(sm) {
    background-image: url('../images/live/live-10.jpg');
  }
}