@import 'modal';
@import 'loader';
@import 'footer';
@import 'buttons';
@import 'cards';
@import 'header';
@import 'titles';
@import 'forms';
@import 'artistprofile';
@import 'searchbar';
@import 'static';
@import 'support-contract';
@import 'artistcontract';
@import 'hall';
@import 'blocks';
@import 'lists';