
.rounded-title, .login-rounded-title {
  font-family: $secondary-font;
  min-width: 110px;
  min-height: 110px;
  width: 110px;
  height: 110px;
  color: white;
  text-transform: uppercase;
  background-color: $main-color;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  text-align: center;


  h2&, h3&, h4&, h5&, h6& {
    font-size: 1.2rem;
  }
}

.h {
  &-line{
    margin: 0 auto;
    border-bottom: $main-color solid 2px;
    background-color: transparent;
    height: 50%;
  }
}

.um-label {
  @extend .text-uppercase;
  color: #2d2c2c;
}