h1 {
  color: $headline-color;
  font: $font;
  font-weight: bold;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }

}

.alt-title {
  font-family: $secondary-font;
}

.rounded-title, .rounded-title-login-choice {
  font-family: $secondary-font;
  width: 110px;
  height: 110px;
  color: white;
  text-transform: uppercase;
  background-color: $main-color;
  border-radius: 50%;
  margin: 0 auto 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  text-align: center;

  &-login-choice {
    width: 50px;
    height: 50px;
    margin-top: -25px;
    background: rgba(188, 187, 187, 1);
  }

  h2&, h3&, h4&, h5&, h6& {
    font-size: 1.2rem;
  }
}

.h {
  &-line{
    margin: 0 auto;
    border-bottom: $main-color solid 3px;
    background-color: transparent;
    height: 50%;
    &-login-choice { border-bottom-color: rgba(188, 187, 187, 0.75);}
  }
}

.um-label {

  @extend .text-uppercase;
  color: #2d2c2c;
  &-small {
    @extend .um-label;
    @extend .small;
    &-bold {
      @extend .um-label-small;
      font-weight: 600;
    }
  }
  &-bold {
    @extend .um-label;
    font-weight: 600;
  }
}