.youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.youtube .play {
  @extend .mx-auto;
  background: url("../images/icons/play-video.png") no-repeat center center;
  background-size: 64px 64px;
  height: 100%;
  opacity: .8;
  filter: alpha(opacity=80);
  transition: all 0.2s ease-out;
  position:relative;
}

.youtube .play:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.youtube-caption {
  @extend .mx-auto;
  background: rgba(255, 231, 231, 0.8);
  color: #772e0a;
  padding: 6px;
}

.small-embed {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
  @extend .d-inline-block;
  @extend .m-2;
  @extend .ml-0;
  max-width: 480px;
  max-height: 360px;
}

