.youtube {
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 200ms ease-out;
  cursor: pointer;
}

.youtube .play {
  background: url("../images/icons/play-video.png") no-repeat center center;
  background-size: 64px 64px;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: .8;
  filter: alpha(opacity=80);
  transition: all 0.2s ease-out;
}

.youtube .play:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.small-embed {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
  @extend .d-inline-block;
  @extend .m-2;
  @extend .ml-0;
  max-width: 480px;
  max-height: 360px;

}