{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h3>Panier</h3>

        <div id="cart-content" class="row">

            <div class="col-12 col-md-8">
                {% include "@App/User/cart_content.html.twig" with {'editable_cart': true} %}

                <p>Prix total : {{ cart.amount }} €</p>
            </div>
            <div class="col-12 col-md-4">
                <h4 class="text-center">Vos options</h4>
                <a class="btn btn-primary d-block mb-3" href="{{ path('user_cart_payment_stripe') }}">Procéder au paiement</a>
                <a href="{{ path('artist_contract', {'id': ccntract.id}) }}">Annuler</a>
            </div>
        </div>
    </div>

{% endblock %}