{% extends 'FOSUserBundle:Profile:layout.html.twig' %}

{% block user_profile_content %}
    {% form_theme form ':Form:bootstrap_4_layout.html.twig' %}
    <h3>Changer mon e-mail</h3>
    {{ form(form) }}
{% endblock %}