{% extends "base.html.twig" %}

{% block body %}

    {% if artists_user is empty %}

        <p>Vous n'avez pas de groupe. Souhaitez-vous en <a href="{{ path('user_new_artist') }}">créer un</a> ?</p>

    {% else %}

        <h2>Mes groupes</h2>
        {% for artist_u in artists_user %}
            {% include "AppBundle:Public/Card:artist.html.twig" with {'artist': artist_u.artist} %}
        {% endfor %}
        Souhaitez-vous en <a href="{{ path('user_new_artist') }}">créer un</a> ?
    {% endif %}

    <p>
        Lancer un <a href="{{ path('user_new_contract_artist') }}">nouveau crowdfunding</a> ?
    </p>
{% endblock %}