{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="text-center mb-4">{{ 'my_artists.title'|trans|raw }}</h3>
            <p>
                {{ 'my_artists.intro'|trans|raw }}
            </p>

            <div class="text-center mb-3">
                <a class="btn btn-primary mt-2 mt-md-0" href="{{ path('user_new_artist') }}">{{ 'my_artists.new_artist'|trans|raw }}</a>
            </div>

            {% if artists is not empty %}
                <div class="row">
                    {% for artist in artists %}
                        {% include "AppBundle:Public/Card:artist.html.twig" with {'bgwhite': true} %}
                    {% endfor %}
                </div>
            {% endif %}
    </div>
{% endblock %}