{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="text-center mb-4">Mes artistes</h3>

            <p>
                Vous êtes un artiste musical ? Vous faites partie d'un groupe ?
                Créez votre identité sur Un-Mute et organisez vos concerts sans prendre aucun risque.
            </p>

            <div class="text-center mb-3">
                {% if available_artist %}
                    <a class="btn btn-primary" href="{{ path('user_new_contract_artist') }}">Lancer un nouveau crowdfunding</a>
                {% endif %}
                <a class="btn btn-primary" href="{{ path('user_new_artist') }}">Créer un artiste</a>
            </div>

            {% if not available_artist and artists is not empty %}
                <p class="p-info mt-3">
                    Note : vous ne pouvez pas créer de nouvel événement pour votre/vos artiste(s) parce que tous vos artistes sont déjà lancés sur un autre événement.
                </p>
            {% endif %}

            {% if artists is not empty %}
                <div class="row">
                    {% for artist in artists %}
                        {% include "AppBundle:Public/Card:artist.html.twig" with {'bgwhite': true} %}
                    {% endfor %}
                </div>
            {% endif %}
    </div>
{% endblock %}