{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3 class="rounded-title">Mes artistes</h3>
            <div class="text-center">
                {% if available_artist %}
                    <a class="btn btn-primary" href="{{ path('user_new_contract_artist') }}">Lancer un nouveau crowdfunding</a>
                {% endif %}
                <a class="btn btn-primary" href="{{ path('user_new_artist') }}">Créer un artiste</a>
            </div>

            {% if artists is not empty %}
                <div class="row">
                    {% for artist in artists %}
                        {% include "AppBundle:Public/Card:artist.html.twig" %}
                    {% endfor %}
                </div>
            {% endif %}
    </div>
{% endblock %}