{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3>Mes notifications</h3>

        <div class="row">
            {% if notifs is empty %}
                 <div class="col-12">
                     <p>
                         Vous n'avez pas encore reçu de notification.
                     </p>
                 </div>
            {% else %}

                <table class="table table-hover">
                    {% for notif in notifs %}
                        {{ preview_notification(notif)|raw }}
                    {% endfor %}
                </table>

            {% endif %}
        </div>

    </div>
{% endblock %}