{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h3>Mes commandes</h3>
        {% for cart in carts %}
            <div class="paid_cart">
                {% include "@App/Fan/cart_content.html.twig" with {'editable_cart': false} %}
            </div>
        {% endfor %}
    </div>
{% endblock %}