{% extends "base.html.twig" %}

{% block body %}

    <h1>Avantages spéciaux</h1>

    {% if purchases is not empty %}

        <ul>
        {% for purchase in purchases %}
            <li>Achat de {{ purchase.quantity }} exemplaire(s) de {{ purchase.specialAdvantage.name }} le {{ purchase.date|date('d/m/Y') }} (coût en crédits : {{ purchase.amountCredits }})</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Pas encore acheté d'avantages spéciaux !</p>
    {% endif %}

{% endblock body %}