$main-orange: #f39200;
$main-green: #66ad61;
$dark-orange: #e15b34;
$theme-colors: (
        "primary": $main-orange,
        "secondary": $main-green,
        "dark": #607D8B,
        "very-dark": #343a40,
        "secondary-strong": $dark-orange,
);
$primary: $main-orange !default;
$menu-color: #fbd060;
$link-secondary-color: $main-green;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "scss/navbar.scss";
@import "scss/modal.scss";
@import "scss/home.scss";
@import "scss/footer.scss";
@import "scss/payment.scss";
@import "scss/loader.scss";
@import 'scss/campaign.scss';
@import "scss/edition.scss";
@import 'scss/breadcrumbs.scss';
@import 'scss/dropzone.scss';

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3.name {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  background: rgba(119, 231, 122, 0.25);
  &.draft{
    background: rgba(231, 135, 17, 0.25);
  }
}

.btn, button, a {
  cursor: pointer;
  white-space: inherit;
}

.btn-primary {
  @extend .text-white;
}

.word-break-all {
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.link-secondary {
  color: $link-secondary-color !important;
}

.modal-attention .modal-header {
  background: orangered;
}
.modal-attention {
  color: #434e65;
  width: 525px;
  position: absolute;
}
.modal-attention .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-attention .modal-header {
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-attention h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-attention .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-attention .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-attention .close:hover {
  opacity: 0.8;
}
.modal-attention .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  text-align: center;
}
.modal-attention .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
.modal-attention .modal-dialog {
  margin-top: 80px;
}
.modal-attention .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-attention .btn:hover, .modal-attention .btn:focus {
  background: #eda645;
  outline: none;
}
.modal-attention .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-attention .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

.modal-confirmation .modal-header {
  background: coral;
}
.modal-confirmation {
  color: #434e65;
  width: 525px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.modal-confirmation .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-confirmation .modal-header {
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-confirmation h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-confirmation .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirmation .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-confirmation .close:hover {
  opacity: 0.8;
}
.modal-confirmation .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  text-align: center;
}
.modal-confirmation .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
.modal-confirmation .modal-dialog {
  margin-top: 80px;
}
.modal-confirmation .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-confirmation .btn:hover, .modal-attention .btn:focus {
  background: #eda645;
  outline: none;
}
.modal-confirmation .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-confirmation .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

.modal-overflow-error .modal-header {
  background: red;
}
.modal-overflow-error {
  color: #434e65;
  width: 525px;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.modal-overflow-error .modal-content {
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}
.modal-overflow-error .modal-header {
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: -20px -20px 0;
  border-radius: 5px 5px 0 0;
  padding: 35px;
}
.modal-overflow-error h4 {
  text-align: center;
  font-size: 36px;
  margin: 10px 0;
}
.modal-overflow-error .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-overflow-error .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #fff;
  text-shadow: none;
  opacity: 0.5;
}
.modal-overflow-error .close:hover {
  opacity: 0.8;
}
.modal-overflow-error .icon-box {
  color: #fff;
  width: 95px;
  height: 95px;
  display: inline-block;
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 15px;
  text-align: center;
}
.modal-overflow-error .icon-box i {
  font-size: 64px;
  margin: -4px 0 0 -4px;
}
.modal-overflow-error .modal-dialog {
  margin-top: 80px;
}
.modal-overflow-error .btn {
  color: #fff;
  border-radius: 4px;
  background: #eeb711;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border-radius: 30px;
  margin-top: 10px;
  padding: 6px 20px;
  border: none;
}
.modal-overflow-error .btn:hover, .modal-attention .btn:focus {
  background: #eda645;
  outline: none;
}
.modal-overflow-error .btn span {
  margin: 1px 3px 0;
  float: left;
}
.modal-overflow-error .btn i {
  margin-left: 1px;
  font-size: 20px;
  float: right;
}

