$main-orange: #ea900c;
$theme-colors: (
        "primary": $main-orange,
        "secondary": #607D8B
);
$primary: $main-orange !default;
$menu-color: #eadf0c;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

@import "../../vendor/twbs/bootstrap/scss/bootstrap.scss";
@import "scss/navbar.scss";
@import "scss/modal.scss";
@import "scss/home.scss";
@import "scss/footer.scss";

body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  text-align: center;
  font-weight: bold;
}

.btn, button, a {
  cursor: pointer;
}