{% extends "@X/base_catalog.html.twig" %}

{% block body %}

    <section class="container py-5" id="projects-catalog">

        <h3 class="text-center">TOUS LES PROJETS</h3>

        {% if projects_ongoing is empty and projects_successful is empty %}
            <p class="text-center">Pas (encore!) de projets lancés</p>
        {% else %}

            <!-- Filtre -->
            <div class="py-2 my-5">
                <!-- ios button: show/hide panel -->
                <div class="jplist-ios-button">
                    <i class="fa fa-sort"></i>
                    Filtrer...
                </div>

                <!-- panel -->
                <div class="jplist-panel box panel-top">
                    <!-- sort by category -->
                    <div class="jplist-drop-down" data-path=".project-category" data-control-type="filter-drop-down" data-control-action="filter" data-control-name="project-category-filter">
                        <div class="jplist-dd-panel"></div>
                        <ul>
                            <li class="active"><span data-path="default" style="color:grey">Catérogie</span></li>
                            {% for category in categories %}
                                {% set slug = "jplist-" ~ category.name|slug %}
                                <li>
                                    <span data-path=".{{ slug }}">{{ category.name }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- search by title, artistname or tags -->
                    <div class="text-filter-box">
                        <i class="fa fa-search jplist-icon"></i>
                        <input data-path=".search-filter" type="text" value="" placeholder="Chercher..." data-control-type="textbox" data-control-name="model-text-filter" data-control-action="filter"/>
                    </div>

                    <!-- display ongoing projects -->
                    <div class="jplist-group" data-control-type="checkbox-group-filter" data-control-action="filter" data-control-name="project-ongoing" data-path=".project-ongoing">
                        <label class="custom-control custom-checkbox pl-4" for="checkbox-ongoing">
                            <input data-path=".project-ongoing" id="checkbox-ongoing" class="form-check-input custom-control-input" type="checkbox"{% if ongoing_checked %} checked{% endif %}>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">En cours</span>
                        </label>
                    </div>

                    <!-- display successful projects -->
                    <div class="jplist-group" data-control-type="checkbox-group-filter" data-control-action="filter" data-control-name="project-successful" data-path=".project-successful">
                        <label class="custom-control custom-checkbox pl-4" for="checkbox-successful">
                            <input data-path=".project-successful" id="checkbox-successful" class="form-check-input custom-control-input" type="checkbox"{% if successful_checked %} checked{% endif %}>
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Réussite</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row jp-list">
                {% for project in projects_ongoing %}
                    {% include 'XBundle:XPublic/Card:card_project.html.twig' with {'bgwhite': true, 'jplist': true} %}
                {% endfor %}
                {% for project in projects_successful %}
                    {% include 'XBundle:XPublic/Card:card_project.html.twig' with {'bgwhite': true, 'jplist': true} %}
                {% endfor %}
            </div>
            <!-- no results found -->
            <div class="row jplist-no-results px-3">
                <p>Pas de résultat trouvé</p>
            </div>
        {% endif %}

    </section>
    
{% endblock %}

{% block additional_javascripts %}
    <script>
		$('document').ready(function(){	
			$('#projects-catalog').jplist({
				itemsBox: '.jp-list'
				,itemPath: '.jp-list-item'
				,panelPath: '.jplist-panel'
                ,noResults: '.jplist-no-results'
            });
		});
	</script
{% endblock %}