{% extends "@X/base.html.twig" %}

{% block main_attributes %}class="home-main"{% endblock %}

{% block nav_details_links %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ path('x_homepage') ~ "#about" }}">À propos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{{ path('x_homepage') ~ "#contact" }}">Contact</a>
    </li>
{% endblock %}

{% block body %}

    <section id="about">
        <div class="container p-5">
            <h3 class="text-center">CHAPOTS</h3>
        </div>
    </section>


    <section class="container py-5">
        <h3 class="text-center">LES PROJETS POPULAIRES</h3><br>
        {% if projects is empty %}
            <p class="text-center">Pas (encore!) de projets lancés</p>
        {% else %}
            <div class="row jp-list">
                {% for project in projects %}
                    {% if loop.index < 4 %}
                        {% include 'XBundle:XPublic/Card:card_project.html.twig' with {'bgwhite': true, 'jplist': true} %}
                    {% endif %}
                {% endfor %}
            </div>
            <p class="text-center mt-3">
                <a class="btn btn-primary" href="{{ path('x_projects') }}">Voir tous les projets</a>
            </p>
        {% endif %}
    </section>


    <section id="contact">
        <h3 class="text-center">CONTACT</h3><br>
        {#<div class="well">
            {{ form(form) }}
        </div>#}
    </section>

{% endblock %}