{% extends "XBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container py-5">
        <div class="x-login-content">
            <div class="x-login-body">
                <div class="container">
                    <!-- design of the x-login header -->
                    <div class="login-header">
                        <!-- titre de la section -->
                        <h3 style="text-align: center">CONNEXION</h3><br>
                    </div>
                    <form action="{{ path('fos_user_security_check_x') }}" method="post">
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" name="_um_username" placeholder="Adresse e-mail" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="_um_password" placeholder="Mot de passe" required="required">
                        </div>
                        <div class="form-group">
                            <label for="remember_me">
                                <input type="checkbox" id="remember_me" name="_remember_me"/>
                                <span>Rester connecté</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-warning">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}