{% extends 'AppBundle:Mail:baseEmailLayout.html.twig' %}
{% autoescape false %}
    {% spaceless %}
        {% block title %}{{ subject }}{% endblock %}

        {% block content %}
            <div>
                {{ email_content('admin.proposition.submit', {
                    '%displayName%': contact_person.DisplayName,
                    '%phoneContact%': contact_person.phone,
                    '%mailContact%': contact_person.mail,
                    '%reasonEvent%': event.reason,
                })|trans|raw }}
            </div>
        {% endblock %}
    {% endspaceless %}
{% endautoescape %}